[2019-01-03 16:16] wochinge commented on #1527
Sorry, I forgot that you are using docker containers. The Core container does not include all NLU dependencies to keep them more lightweight. So you have to use a separate NLU container.

Did you launch the NLU container with the mounted volume and check the log output? I think the NLU model Core is referencing is not found by the NLU container. When NLU is linked through the endpoints configurati

[2019-01-03 17:03] #1087 closed

[2019-01-03 18:05] stacybot123 commented on #1527
@wochinge , Thank you replying. I am getting error  that its not able to connect to the nlu server.  Can you  please advice if I am using the correct commands.

Here is the error:
[code]
I startup my server for nlu and action . Here is the docker-compose.yml for running both of them

[code]
my endpoint.yml
[code]

docker command I am using now
[code]

Here is what I get if I test both of these ser

[2019-01-03 18:32] smn-snkl commented on #1114
Just ran into the same issue again today. Without using a pretrained model

[2019-01-03 19:21] satishavhad opened #1537 "FormAction: Slots are not filled when named other than entity name"
**Rasa Core version**: 0.12.3
**Rasa NLU version**: 0.13.8
**Rasa Core SDK version**: 0.12.1
**Python version**: 3.6.7
**Operating system** windows

**Issue**: Slot mapping only works if the entity name matches the slot name.
But there are many use cases where same entity is used for filling different Slots depending on the intent. How should I resolve this problem?

Below s the relevant code:

Ac

[2019-01-03 19:22] satishavhad commented on #1537
Debug log:

DEBUG:rasa_core_sdk.forms:Validating user input '{'intent': {'name': 'enter_data', 'confidence': 0.9559510946273804}, 'entities': [{'start': 0, 'end': 4, 'value': '2342', 'entity': 'ENT_Number', 'confidence': 0.8388133918505674, 'extractor': 'ner_crf'}], 'intent_ranking': [{'name': 'enter_data', 'confidence': 0.9559510946273804}, {'name': 'INT_API_BuySecurity', 'confidence': 0.09487114

[2019-01-03 22:35] #1078 closed

[2019-01-03 22:35] #1077 closed

[2019-01-03 22:35] #1059 closed

[2019-01-03 22:35] #1063 closed

[2019-01-04 01:56] #1036 closed

[2019-01-04 08:34] wochinge commented on #1537
@satishavhad Can you please indent your code and put in code blocks?

[2019-01-04 09:39] Ghostvv commented on #1114
@smn-snkl please create the new issue describing the new error, it is hard to understand what you mean by `the same` since you posted to different errors above

[2019-01-04 09:39] #1114 closed

[2019-01-04 10:12] EPedrotti commented on #1406
@darpanthanki sorry about the late response.
It was pretty hard to find the exact source of the error, but this is caused by the spacy tokenizer. For the tokenizer 'us' is a relevant word and it wants to separate it from the rest.
One way around this is to add synonyms that will translate 'us - west-2' to 'us-west-2', or you can try not to use spacy in you pipeline.

[2019-01-04 12:43] wochinge commented on #1527
replace `ip_address_of_server` with `localhost` in your endpoints.yml

[2019-01-04 13:18] azizullah2017 opened #1539 "Switch between Projects."
**Rasa Core version**:

**Python version**:

**Operating system** (windows, osx, ...):

**Issue**:

Is this possible to switch between project on same port ??

**Content of domain file** (if used & relevant):
[code]

[2019-01-04 15:35] #1427 closed

[2019-01-04 15:43] stacybot123 commented on #1527
I already tried that now it says;

[code]

[2019-01-04 16:39] kevinfaguiar commented on #1314
have you solved this error?

[2019-01-04 16:54] wochinge commented on #1527
sure you started the nlu container? how does your endpoints.yml look?

[2019-01-04 17:17] stacybot123 commented on #1527
yes. here is the endpoints.yml

[code]

I started both the nlu and action server using below  docker-compose.yml file
[code]

[2019-01-04 18:07] vishnuragas commented on #1501
@Ghostvv  You mean, it should not be passed to the 'policy_config.yml' file? but to KerasPolicy(...)?

[2019-01-04 19:00] #1435 closed

[2019-01-04 22:48] rsreeni commented on #1527
@stacybot123 @wochinge ,

Im stuck with the same error too running the interactive trainer using the docker....

Thanks,

-SR

[2019-01-05 06:14] AbrarAhmedQuresh commented on #1509
Hello @MetcalfeTom

Thank you for your reply, But the error still exists.

[2019-01-05 16:44] gzarafbk commented on #1533
Thank you for your answer,

the form in this solution does actually fill the slot, but the problem is that, once the slot is filled, the fallback action is still called due to zero NLU confidence. Here follows the output of the debug for clarity:

[code]

Anything I'm missing? Thanks in advance

PS: sorry for posting in the wrong place, for next time I know ;)

[2019-01-05 19:36] samarth12 commented on #1519
Yes, I am importing from ```rasa_core_sdk```. I will post my logs below with all the possible details I can provide you.

Actions SDK just returns a 404 error whenever the APIs need to be called, the thing I do not get is that works perfectly fine on the cmd line.

[code]

Here are my localhost logs
[code]

You can see I tried calling both the APIs and get the same error. Also if I didn’t mention

[2019-01-06 00:32] tremulaes commented on #1459
I'm working through the [docker compose tutorial](https://rasa.com/docs/core/docker_walkthrough/) now and ran into no issues until I tried to make any changes to the model. After attempting to retrain the NLU, the server runs but only returns the 'did not understand' empty list response `[]`. I'm gonna keep going through Rasa docs, but I have a few thoughts:

* The differences between the [install

[2019-01-06 12:02] milangm89 opened #1540 "Rasa Core instance. Either retrain the model, or run withan older version. Model version: 0.12.3 Instance version: 0.13.0a5 Minimal compatible version: 0.13.0a2"
**Rasa Core version**: 0.11.11

**Python version**: 3.4

**Operating system** (windows, osx, ...): ubuntu 14.04

**Issue**: getting the below error during docker compose up

+++
rasa_core_1      | rasa_core.exceptions.UnsupportedDialogueModelError: The model version is to old to be loaded by this Rasa Core instance. Either retrain the model, or run withan older version. Model version: 0.12.3 Insta

[2019-01-06 12:53] #1101 closed

[2019-01-07 03:52] WoWuQ commented on #1526
Some Stories are these:
## story1
  * return_goods

    - skill_1_search_good

  ## story2

    - slot{"requested_slot": "number"}
  * inform{"number":1}

## story3

    - slot{"order_number": 1}

## story4

   - slot{"requested_slot": "is_second_use"}

## story5

 * affirm_intent

## story6

  * deny_intent

## story5

   - slot{"is_use": true}

## story4

   - slot{"is_use": false}

## end story

[2019-01-07 08:42] wochinge commented on #1459
@tremulaes Thanks for your helpful suggestions!
@JustinaPetr

[2019-01-07 08:45] wochinge commented on #1533
how do your stories look like?

[2019-01-07 09:01] akelad commented on #1501
In your script you're not calling the "policy_config.yml", so in this case it wouldn't go there. You should move it from `.train()` to `KerasPolicy()` here yes. In general if you're using the `rasa_core.train` script though it should go in the `policy_config.yml`

[2019-01-07 09:01] gzarafbk commented on #1533
Here's an example of a part of story where the form is used:

[code]

[2019-01-07 09:18] akelad commented on #1508
I think @Ghostvv you've worked with reminders a lot, can you help?

[2019-01-07 09:21] akelad commented on #1520
I'm gonna close this as it looks like it's resolved :)

[2019-01-07 09:21] #1520 closed

[2019-01-07 09:22] akelad commented on #1522
can we close this issue or is your question still unanswered?

[2019-01-07 09:37] stacybot123 commented on #1522
Yes, if we cannot return the intent with the message from core.

[2019-01-07 09:37] #1522 closed

[2019-01-07 13:35] vishnuragas commented on #1501
@akelad  This is the command I used: `python -m rasa_core.train -d domain.yml -s data/stories.md -o models/current/dialogue -c config.yml` . Here 'config.yml' is the file which contains the parameters. The contents of the files are as below:

policies:
  - name: KerasPolicy
    epochs: 100
    max_history: 5
  - name: FallbackPolicy
    fallback_action_name: 'action_default_fallback'
  - name: Mem

[2019-01-07 15:36] vishnuragas commented on #1525
@wochinge No, I did not use the GPU version. The workarounds (installing TF 1.9.0 did not work)

[2019-01-07 15:37] vishnuragas commented on #1501
@akelad Used the script to run it, it gives 'Entry point not found error' (https://github.com/RasaHQ/rasa_core/issues/1525). Here is the recent error snapshot

![entry point](https://user-images.githubusercontent.com/28904290/50776936-47ae1300-1268-11e9-8d12-7f1901a55443.PNG)

[2019-01-07 16:36] wochinge commented on #1540
Ideally the version of Rasa Core you want to use it with. In your first post you said `0.11.11`? Where did you get the model from which apparently has version `0.12.3`?

[2019-01-07 16:39] milangm89 commented on #1540
i have changed the versions between 0.11.11 and 0.12.3. both are getting same error

[2019-01-07 16:41] wochinge commented on #1540
So you have to train and run it with the *same* version of Rasa Core.
What's the train and run command you are using?

[2019-01-07 16:43] milangm89 commented on #1540
i have followed this https://rasa.com/docs/core/installation/

[2019-01-07 16:44] wochinge commented on #1525
@MetcalfeTom We need another Windows user here. Could you please check that on your machine?

[2019-01-07 16:46] wochinge commented on #1540
Ok, and what are the exact commands you are using to train the model and then to run Rasa Core?

[2019-01-07 16:52] milangm89 commented on #1540
actually, i don't know. I wanted to install rasa as a chat assistant on my website via docker. I followed the documentation and it ended up with the error. I tried changing the versions as per some forums but that didn't work.

[2019-01-07 16:58] wochinge commented on #1540
So you trained it locally and then mounted the model into the docker container?

[2019-01-07 16:59] milangm89 commented on #1540
i didn't do any training.

[2019-01-07 17:04] Ghostvv commented on #1526
Ambiguous keys means you have the same story leading to different actions, try using `--debug_plots` flag to see the connection between your story blocks

[2019-01-07 17:07] Ghostvv commented on #1508
This empty event shouldn't influence core prediction, because it is not featurized. `core` didn't know what to because you probably don't have a story with this reminder

[2019-01-07 17:07] wochinge commented on #1540
Ok. So in order to get a chatbot running you have to
1. Provide training data for Rasa Core ("stories") and NLU
2. Train the core model
3. Train the nlu model
4. Run NLU
5. Run Core

Maybe this guide https://rasa.com/docs/core/docker_walkthrough/ helps you?

[2019-01-07 17:08] Ghostvv commented on #1537
@satishavhad please ident your code

[2019-01-07 17:09] milangm89 commented on #1540
ok thanks 👍 i will check this

[2019-01-07 17:43] wochinge commented on #1533
So the slot is filled correctly and all actions until `utter_atf_mot_prec_bas_2` were executed correctly, right? Then the next action should `action_listen`. What is the next intent in your stories? Is there enough NLU data there?

I just tried it with this example and it worked as exepected:
[code]

[2019-01-07 18:00] gzarafbk commented on #1533
Actually, the fallback action is called immediately after `generic_answer_form` fills its slot, so not even `action_set_db_sot_prec_bas_1` is performed. The failed NLU recognition (i.e. zero confidence) occurs on the generic sentence itself, the one which is actually used to fill the slot by the form. Wrapping up:
1) the chatbot asks a question to the user (which is `utter_atf_mot_prec_bas_1`)
2)

[2019-01-07 19:34] MatheusMiranda opened #1542 "Add 'is typing' feature and message delay to connectors"
**Rasa Core version**: 0.11.12

**Python version**:  3.6

**Operating system** (windows, osx, ...): Docker image `python 3.6`, with Linux Kernel.

**Issue**:

While having a conversation with bots, it's important to have a  time delay between messages, especially for big messages, to make bot answers more natural for the user.

This issue is to develop a way to set or estimate  time delay proporti

[2019-01-08 00:59] znat commented on #1508
The problem description was not accurate. The problem occurs when calling a reminder from an action executed by a reminder.

[2019-01-08 01:18] mhjb opened #1543 "Documentation: Step 2 bug: "No module named 'service_identity'""
At https://rasa.com/docs/get_started_step2/

![image](https://user-images.githubusercontent.com/1380991/50803802-232d6600-1350-11e9-93df-bece719a5173.png)

[2019-01-08 01:21] mhjb commented on #1543
Oops — I hadn't 'run' all the previous numbered steps. It still shows that error, but the training does complete:

![image](https://user-images.githubusercontent.com/1380991/50803916-a949ac80-1350-11e9-9f9a-88b4318281f1.png)

[2019-01-08 03:01] darpanthanki commented on #1406
Many thanks for all your efforts and providing your feedback on this!!

[2019-01-08 07:36] DarrenFYau opened #1544 "Webhook error"
**Rasa Core version**:
0.12.3
**Python version**:
Python 2.7.6
**Operating system** (windows, osx, ...):
Mac OS
**Issue**:
  I am unable to process messages on facebook.

 I am using an endpoint for my actions, and using a webhook to connect to messenger, but am unable to have a response for my message.

This is the specific error I am getting

2019-01-08 07:24:53 INFO     root  - Rasa Core server

[2019-01-08 08:20] akelad commented on #1544
@DarrenFYau this doesn't look like a facebook specific error, can you try just running the bot on the command line and see if the same error happens? And then please post the full debug log of the conversation here.

[2019-01-08 08:21] akelad commented on #1406
I'm gonna close this issue then, feel free to open a new one if you're still having issues

[2019-01-08 08:21] #1406 closed

[2019-01-08 08:21] akelad commented on #1543
cool, will close this issue then

[2019-01-08 08:22] akelad commented on #1542
Thanks for raising this issue, @tmbo  will get back to you about it soon.

[2019-01-08 08:48] wochinge commented on #1533
Did the form ask you for the slot to be filled? Could you maybe share the implementation of your form?

[2019-01-08 08:51] mhjb commented on #1543
The UserWarning is still a bit of a strange experience to get in a try-me-out environment…

[2019-01-08 08:51] DarrenFYau commented on #1544
SORRY!!! I made a silly mistake, was running on a dev server, and did not have permissions. I needed to add sudo before starting my webhook. Thanks for your speedy response!

[2019-01-08 09:21] gzarafbk commented on #1533
The form utters `utter_ask_generic_intent` (which is what i assumed would match `utter_ask_problem_message` in the example at the link you gave me), if this is what you mean. Then, when the user answers, the fallback action is called and a fallback message is sent by the chatbot. Just to clarify: this happens only if the user's answer doesn't match any intent in the NLU data, otherwise the convers

[2019-01-08 10:01] wochinge commented on #1533
A confidence of `0` is relatively unlikely. However, even without NLU model this should work.
Can you please share the log of your action server and your domain file  as well?

[2019-01-08 10:01] Ghostvv commented on #1508
now, I'm confused. Could you please add an example. Maybe create a new issue with accurate description

[2019-01-08 10:08] MetcalfeTom commented on #1525
Copied your code and was unable to reproduce the error, which leads me to believe this has to be a Tensorflow issue

[2019-01-08 10:20] MetcalfeTom commented on #1509
Hi again,

How did you train your bot?  My next solution would be to check your `models/dialogue` folder is in the right format - something like this:

![image](https://user-images.githubusercontent.com/35203669/50824614-5a434d80-1337-11e9-9f9f-54bdb7d4c783.png)

[2019-01-08 10:36] gzarafbk commented on #1533
Sure, here's the action server log up to the point where fallback is called:

[code]

And here's my domain file:

[code]

[2019-01-08 10:51] wochinge commented on #1533
Ok, this looks great :+1:

Can you also attach the story for `> asked_atf_mot_prec_bas_2`? Seems that it is failing here.

[2019-01-08 11:15] gzarafbk commented on #1533
I just realized that after my last modifications to the chatbot I actually no longer need that checkpoint (in the sense that it just had one possible way to proceed, therefore i can remove the checkpoint). So the story actually looks like this:

[code]
The logic is pretty much the same (indeed i re-trained and re-tested, but ended up with exactly the same problem)

[2019-01-08 12:03] manojjjm commented on #133
Hello , i am also facing the same issue,

please help

[2019-01-08 12:35] aggarwalrahul86 commented on #1415
Hi @grzegorznowak  ,@ricwo : I am using Rasa-core 0.12.3 and RASA-NLU 0.13.8, While integrating slack with RASA when i use slack_channel in credentials.yml as "#channelname" , i see my integration works and i get the response back in my channel. But when i use app name slack_channel: "@EriBot" it doesnot show response during direct messaging , although i see the response back in ngrok UI.

I can s

[2019-01-08 12:38] aggarwalrahul86 opened #1545 "Rasa Slack integration Direct messaging not working with @App name."
**Rasa Core version**:

**Python version**:

**Operating system** (windows, osx, ...):

**Issue**:

**Content of domain file** (if used & relevant):
[code]

[2019-01-08 12:49] grzegorznowak commented on #1415
hey @aggarwalrahul86 I'm working on a PR to (re)enable direct messages with @ricwo :
https://github.com/RasaHQ/rasa_core/pull/1505

I'm quite sure this used to work before (in one of the rather ancient versions of rasa_core).
Otherwise my setup is quite bespoke and so can't comment on the current state of docs nor setup instructions, but you're right that what should be needed to receive @mentions

[2019-01-08 13:46] DMPS commented on #1502
Updated documentation has been merged. Closing.

[2019-01-08 13:46] #1502 closed

[2019-01-08 15:15] vigneshp826 opened #1548 "Problem of getting responses simultaneously"
**Rasa Core version**: 0.11.8

**Python version**:  3.5.5

**Operating system** (windows, osx, ...): osx

**Issue**:
I have a custom action which takes almost two minutes to process the request. So to keep the user informed about the starting of back-end process first am sending the notification using dispatcher_utter_message("processing"), then processing request ( fetching big file from a DB ),

[2019-01-08 21:14] vishnuragas commented on #1525
As in https://github.com/RasaHQ/rasa_core/issues/1501, I tested both methods, Passing the parameters to Policy_Config.yml file, and to KerasPolicy(). In both instances, I got the same error.

Dialogue_management.py contains the following code:
[code]

[2019-01-09 01:03] DarrenFYau commented on #1544
Sorry to bother again, just redeployed, but I am having the same issue again. Don't think I have solved it. I believe that the server is not properly connected to my webhook.

I start by  setting up an endpoint for my actions using
sudo python -m rasa_core_sdk.endpoint --actions actions

I then set up the server for rasa core using
sudo python -m rasa_core.run -d models/dialogue -u models/nlu/defa

[2019-01-09 01:22] MatheusMiranda commented on #1542
Nice, thank you!

[2019-01-09 05:41] aanchan opened #1549 "We"
**Rasa Core version**:

**Python version**:

**Operating system** (windows, osx, ...):

**Issue**:

**Content of domain file** (if used & relevant):
[code]

[2019-01-09 06:55] WoWuQ commented on #1526
I fix the issue and resolved.  But This error can not see in generate_story.pdf.
The bool slot's as_feature function cause  this problem, and I think it is a bug in rasa core.
Thanks!

[2019-01-09 08:21] akelad commented on #1526
@Ghostvv can you check whether there's an actual bug?

[2019-01-09 08:21] #1549 closed

[2019-01-09 08:33] gzarafbk commented on #1533
My policy configuration file contains this:

[code]
Was this the question?

[2019-01-09 08:36] wochinge commented on #1533
Could you please try with

[code]

[2019-01-09 08:54] InfantCSAjay commented on #1326
Can you tell me What version conflicts you were facing?

[2019-01-09 09:03] Ghostvv commented on #1548
it happens, because core server (`rasa_core`) notifies action server (`rasa_core_sdk`) to execute your custom action, after it is executed action server notifies core server what should be done. As a solution, I recommend for the first utterance create utterance template in `domain.yml` and put it in the stories before your action, so that this utterance got predicted by `rasa_core` before running

[2019-01-09 09:04] Ghostvv commented on #1526
`The bool slot's as_feature function cause this problem, and I think it is a bug in rasa core.` Could you please elaborate what is wrong with it?

[2019-01-09 09:12] DarrenFYau commented on #1544
I sent a message "hello", which should preform an action that returns a button template

`class ActionGreet(Action):
    def name(self):
        return 'action_greet'

    def run(self, dispatcher, tracker, domain):
        logger.debug("Greet")

        greet = "Hello, I am Jargon the English Bot. You can ask me anytime to define a word, or press Learn A New Word, and I will teach you something n

[2019-01-09 10:16] JustinaPetr commented on #1543
I guess we can update the binder requirements to include it. Getting rid of the warnings is on the line for the quickstart improvements so I'll look into it.

[2019-01-09 10:47] gzarafbk opened #1550 "Problem with custom slots"
**Rasa Core version**: 0.12.3

**Rasa NLU version**: 0.13.8

**Rasa Core SDK version**: 0.12.1

**Python version**: 3.6.7

**Operating system** (windows, osx, ...): Linux Ubuntu 18.04

**Issue**: I am attempting to exploit custom slots in order to choose which branch of the stories the dialogue should follow according to how the user answers to certain questions. In particular, I implemented the f

[2019-01-09 11:00] WoWuQ commented on #1526
In the domain.py,  get_parsing_states function while generate slot feature,
`for i, slot_value in enumerate(slot.as_feature()):
     if slot_value != 0:
     slot_id = "slot_{}_{}".format(key, i)
     state_dict[slot_id] = slot_value`
but this function must slot_value !=0,  but bool slot generate false feature with the value = 0, it will be filted.

Is it？

[2019-01-09 11:55] Ghostvv commented on #1526
in the `rasa_core` `0.12`, we changed the featurization of the boolean slot

[2019-01-09 12:04] WoWuQ commented on #1526
Ok, l know,thanks

[2019-01-09 12:04] WoWuQ commented on #1526
Ok, l know,thanks

[2019-01-09 12:12] chetan520 opened #1551 "How to deploy Rasa core server on Cloud ??"
**Rasa Core version**:

**Python version**:

**Operating system** (windows, osx, ...):

**Issue**:I have followed the basic tutorial and trained my model and hosted it locally (localhost:5005), but now I am hoping to deploy the application on cloud . Is this possible? If so, what is the easiest approach to achieve this?
i want to use my service form other machine .. or rest api

**Content of domai

[2019-01-09 12:17] Ghostvv commented on #1526
Do you think it is correct in `0.12`? Can we close the issue?

[2019-01-09 12:31] #1526 closed

[2019-01-09 12:42] stacybot123 commented on #1527
@wochinge  Please help me on this. I am still stuck on this.

[2019-01-09 15:56] wochinge commented on #1533
Mhm, this is really strange. Could you maybe run core with the `--debu` and post the core log file as well?

[2019-01-09 18:07] MatheusMiranda opened #1553 "Kafka Producer to stream events"
Kafka Producer to stream events

**Rasa Core version**: 0.11.12

**Python version**:  3.6

**Operating system** (windows, osx, ...): Docker image `python 3.6`, with Linux Kernel.

**Issue**:

We have developed a simple Analytics stack to get metrics about user interaction and bot accuracy.

We were overwriting the *InMemoryTrackerStore* to send messages to Kafka broker. Now, we're gonna start to u

[2019-01-10 07:39] gzarafbk commented on #1533
Sure, I pasted it into a file for simplicity: [core_run.txt](https://github.com/RasaHQ/rasa_core/files/2744132/core_run.txt). It is up to the point where fallback is called (sorry if it's messy and in Italian, but it should contain everything). Let me know if anything else is needed, and thanks again.

[2019-01-10 07:57] srkrbunny commented on #151
I am also getting same issue.

This is my directory

C:\Rasa\Docker\domain.yml

C:\Rasa\Docker\data\stories.md

While i am running below commands i got , Exception: Failed to load domain specification from ‘/app/project/domain.yml’. File not found!

docker run -v $(pwd):/app/project -v $(pwd)/models/rasa_core:/app/models rasa/rasa_core:latest train –domain project/domain.yml –stories project/data/

[2019-01-10 08:35] akelad commented on #1551
Thanks for raising this issue, @EPedrotti  will get back to you about it soon.

[2019-01-10 08:36] akelad commented on #1550
@gzarafbk is this the same issue as in #1533 ?

[2019-01-10 08:37] akelad commented on #1415
@ricwo can you comment on that?

[2019-01-10 08:39] akelad commented on #1544
Please format your code with ```
Also, can you please post the full DEBUG logs when you're talking to the bot on the commandline, rather than facebook? I can't tell much about where this error is happening without that

[2019-01-10 08:59] wochinge commented on #1533
@akelad I think this is actually a bug. The fallback policy checks for the last user message which in this case was part of the form (https://github.com/RasaHQ/rasa_core/blob/b65d6716b4477e4ca023f24c03033f7fedd0f4ce/rasa_core/policies/fallback.py#L86). I think it should only check the nlu confidence if the last event was a user message, right?

[2019-01-10 09:04] MetcalfeTom commented on #1519
Hi @samarth12, thanks for posting all this info.

I took your code, reproduced the bot and ran it with a REST input.  It worked fine, which is unfortunate because it means I am no closer to resolving the issue.

Do you have any proxies set up on your machine or anything which might be interfering with your network traffic?  I'd also like to see if your bot could run a custom action which didn't in

[2019-01-10 09:07] gzarafbk commented on #1533
@akelad I have tried following your suggestion, but nothing seems to change. This is the pipeline, am I doing it right?

[code]
I have used `"si"` as `OOV_token`, which matches the existing intent `afferma` in my nlu file. Should I use a specific different one?

[2019-01-10 09:15] EPedrotti commented on #1551
hi @chetan520,
I think our forum can help. Here a list of topics related to your question [https://forum.rasa.com/search?q=cloud](https://forum.rasa.com/search?q=cloud).
Have a look at them and see if there is something useful for your case.

[2019-01-10 09:23] tmbo opened #1554 "Stable API definition"
Goal: Create a stable API that is well documented, simple and covers most important functions.

Best guess on functions to be added:
- train model
- evaluate model
- load model
- start server
- load data

[2019-01-10 10:44] #1516 closed

[2019-01-10 12:26] akelad opened #1580 "strip newlines and whitespace from messages"
right now, if you have newlines around your message they won't get stripped, so you might have something like: `"\n/restart\n"`

[2019-01-10 13:10] vigneshp826 commented on #1548
thanks @Ghostvv , this works.

[2019-01-10 13:10] #1548 closed

[2019-01-10 13:42] lansedebing opened #1556 "train TypeError: 'NoneType' object is not callable"
PS F:\rasa-demo-master> **python -m rasa_core.train -d domain.yml -s data/core -c policy.yml --debug -o models/dialogue**
Traceback (most recent call last):
  File "C:\Users\admin\AppData\Local\Programs\Python\Python36\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "C:\Users\admin\AppData\Local\Programs\Python\Python36\lib\runpy.py", line 85, in _run_code
    exec

[2019-01-10 13:46] lansedebing commented on #1556
when i followed rasa-demo i encount this issue

[2019-01-10 18:00] vishnuragas commented on #1525
[req.txt](https://github.com/RasaHQ/rasa_core/files/2746526/req.txt)

@MetcalfeTom Hi, I used Tensorflow 1.10.0. What is the tensorflow version you tested on? Above is the list of packages in the environment I tried to execute the code.

[2019-01-10 19:02] samarth12 commented on #1519
@MetcalfeTom  I finally figured out the problem I was running into! It was very stupid and needed another eye to look into my errors. My ```endpoints.yml``` file was redirecting towards ```url: "http://localhost:5055/webhook/"``` which works fine with the cmd line. But apparently, the REST input calls to   ```url: "http://localhost:5055/webhook"```.

Notice the "/" after webhook. But you might wan

[2019-01-10 19:02] #1519 closed

[2019-01-11 00:01] jeanveau opened #1557 "Internal Server Error while using /conversations/{sender_id}/messages"
**Rasa Core version**:
0.11.8
**Python version**:
3.5
**Operating system** (windows, osx, ...):
osx
**Issue**:

Got  "Internal Server Error" while using "/conversations/{sender_id}/messages" to add message

it's very strange because with Postman everything goes well, but when I perform the same Post request in my web application, rasa server does not work correctly.

Here is the log generated by r

[2019-01-11 01:40] #745 closed

[2019-01-11 01:40] #1135 closed

[2019-01-11 01:40] #1140 closed

[2019-01-11 05:47] Ajinkz opened #1558 "How to use mongo db with rasa core API"
**Rasa Core version**:
0.12.3
**Python version**:
3.6
**Operating system** (windows, osx, ...):
ubuntu 16.04
**Issue**:
How to use mongodb or any other database to store conversational data so that new intent data could be used for training.
Does dialogue tracker server this purpose ? if yes then how to achieve it ? Or there is some other way to achieve this purpose ?

**Content of domain file** (

[2019-01-11 11:03] jeanveau commented on #1557
found reason, in request, rasa accepte only sender='user'

[2019-01-11 13:55] MatheusMiranda commented on #1553
Ok ;) thank you.

[2019-01-11 17:19] oniz93 opened #1561 "[New feature] Try all the NLU predicted intents"
I just developed a little change to processor.py
The change is the following:
- user input something
- if the predicted action is "action_default_fallback", try to use the next predicted intent until all the predicted intents are left.

I developed this change because my stories are like a tree so I need to understand which branch of the tree the user want to go even when the best predicted intent

[2019-01-11 23:32] Manoj-t opened #1563 "I need help in creating custom actions in rasa core and starting the server"
**Rasa Core version**: 0.12.2

**Python version**:  3.6.4

**Operating system** (windows, osx, ...): MacOS mojave

**Issue**: need help in creating custom actions in rasa core. I am actually building a weather enquiry chatbot. I want to add a custom action that calls a **weather-api** and sends back a response to the rasa core server. As per the documentation, I created **endpoints.yml** file. I d

[2019-01-12 03:09] josephktcheung opened #1564 "FormAction via http"
I'd like to know if `FormAction` can be implemented via custom http endpoint (non Python).  This question has been asked in the forum a month ago but no answer yet https://forum.rasa.com/t/htttp-custom-action-form/3602. I want to know what needs to be done to enable this feature. Thanks

[2019-01-12 13:16] ricwo commented on #1553
Hi @MatheusMiranda, sounds great! I think this would be a worthwhile contribution 👍

[2019-01-12 14:00] ricwo commented on #1415
hi @aggarwalrahul86 why would you want to post a message from `@YOURBOT` to `@YOURBOT`? If you want to have a conversation between you and the bot, in a private conversation, `slack_channel` should take the value of your `@USERNAME`

[2019-01-12 21:17] MatheusMiranda commented on #1553
Nice, @ricwo!
We're gonna finish that, and send it back. Thank you :+1:

[2019-01-13 19:19] tmbo commented on #151
We'll not sure, something seems to be off with your mount - apparently your mounted directory does not contain a domain.yml - from which directory are you running the docker command?

[2019-01-13 19:33] tmbo commented on #1539
No this is currently not possible and I am not sure it should be possible. In terms of isolation and moving a bot in production, it is way better to keep them isolated and run each of the bots in e.g. a separate docker container.

What would be the benefit of having projects?

[2019-01-14 03:39] DarrenFYau commented on #1544
Sorry for not responding. The problem came from training the data. I was passing the config file when training the data.
sudo python -m rasa_core.train -d domain.yml -s data/stories.md -o models/dialogue -c config.json

When I removed the config file everything seemed to work again.

[2019-01-14 03:39] #1544 closed

[2019-01-14 05:51] azizullah2017 commented on #1539
What if you have a lot of small projects ? and a lot of short stories. like project of different languages. We cannot keep them together. like for a language, we have four different strategies for a user. The user will have to decide the strategy which one to select. it would be easy if we would have the project name.
Like would be having a lots of projects. We can not remember the ports and it is

[2019-01-14 07:06] AbrarAhmedQuresh commented on #1509
Thank you for the reply @MetcalfeTom

My models/dialogue folder is in the right format, same as you mention above.

[2019-01-14 07:43] ztavlas opened #1566 "no return message from rasa to slack"
**Rasa Core version**: 0.12.3

**Python version**: 3.5.5

**Operating system** (windows, osx, ...): Windows

**Issue**: No return message from rasa to slack.

I am using ngrok and i have integrated rasa bot with slack by using
`from rasa_core.channels.slack import SlackInput`
but when i try to use bot with slack, i can send message to rasa bot but there is no return message in slack. I can see 200

[2019-01-14 10:02] akelad commented on #1550
Ok, @MetcalfeTom will get back to you soon then :)

[2019-01-14 10:02] akelad commented on #1551
i'll close this then, as it's more of a forum question

[2019-01-14 10:02] #1551 closed

[2019-01-14 10:07] akelad commented on #1566
Thanks for raising this issue, @EPedrotti  will get back to you about it soon.

[2019-01-14 10:09] akelad commented on #1533
[code]
This is the way to do it, can you try that please? Also, I'd recommend not using "si", but rather something like "oov" and then adding some training examples to intents where it's likely that an oov word will come (for example, the `out_of_scope` intent).
Let me know if it works with this configuration

[2019-01-14 10:10] akelad commented on #1544
hm, `config.json` -- it should be a yml file, that's probably what was causing the issue

[2019-01-14 10:13] akelad commented on #1564
Currently no, you would have to write the code yourself to replicate this behaviour. In the future we'll probably think about implementing the SDK in different languages as well though

[2019-01-14 10:13] #1564 closed

[2019-01-14 10:13] akelad commented on #1563
Please ask these kind of questions in our [forum](https://forum.rasa.com)

[2019-01-14 10:13] #1563 closed

[2019-01-14 10:15] akelad commented on #1557
Thanks for raising this issue, @wochinge  will get back to you about it soon.

[2019-01-14 10:16] akelad commented on #1558
Hi, you can use the MongoTrackerStore for this: https://rasa.com/docs/core/tracker_stores/#mongotrackerstore
Please ask these kinds of questions in our [forum](https://forum.rasa.com) in future

[2019-01-14 10:16] #1558 closed

[2019-01-14 10:17] wochinge commented on #1533
@akelad
This is indeed a bug. Consider this story:

[code]

[2019-01-14 10:19] akelad commented on #1533
@wochinge yes, that part is, but the oov thing is still something that should be added to the pipeline in general ;)

[2019-01-14 10:21] akelad commented on #1533
Just for your clarification @gzarafbk, you should try the NLU config I showed you and it will fix your intent being classified as "None" issue.
However you did uncover a bug that the fallback policy shouldn't pay attention to intent confidence within a form, which we will look into and fix

[2019-01-14 10:23] akelad commented on #1561
Hmm, I'm not sure I understand the need for this -- it will fall back on NLU confidence for all those intents since the first intent already trigerred it

[2019-01-14 10:34] wochinge commented on #1533
A suggestion to fix this bug is to check whether the last executed action was `ACTION_LISTEN` before checking the NLU confidence of the last message.

[2019-01-14 11:01] DarrenFYau opened #1567 "Follow up action"
**Rasa Core version**:

0.12.4

**Python version**:

Python 2.7.6

**Operating system** (windows, osx, ...):

OSX

**Issue**:

 Is it possible force the next two actions, or is there a way to force an action_listen before a forced action?

I am trying to make a quiz, but can't seem to get the bot to preform the right actions in sequence. The conversations should go sequentially like this,

Bot: *G

[2019-01-14 12:38] tmbo opened #1568 "Ensure compatible rasa core sdk version"
Goal: Make sure the sdk implementation supports the features core is expecting. It would be great to be able to version check which core version is running to validate if the current sdk version is up to date.

Idea:
- core appends its version number to the requests sent to the core sdk (https://github.com/RasaHQ/rasa_core/blob/master/rasa_core/actions/action.py#L229)
- the sdk once it received th

[2019-01-14 15:13] wochinge opened #1569 "add docs page with link to tutorials / examples"
We could create a page in the docs which links to tutorials / blog articles which were written about Rasa and might help users getting started.

[2019-01-14 16:11] wochinge commented on #1557
@jeanveau Yes, currently you can only add user messages. However, you could use https://rasa.com/docs/core/0.11.12/customactions/ to add other events to your tracker.

[2019-01-14 16:11] #1557 closed

[2019-01-14 16:50] oniz93 commented on #1561
I'll try to explain better.

I have a stories like this:

* greetings
- "choose the contest"
* contest_1 (or other blocks with contest_2, contest_3, etc.)
- "tell me you question"
* question_1_about_the_contest (or other blocks with other questions)

If a user, while choosing the contest, write something that is secognized as question, but with less confidence, can even be the sentence that trigge

[2019-01-15 04:33] jasoncartercs opened #1572 "FAQ bot that responds to multiple tenants"
**Rasa Core version**: 0.12.4

**Python version**: 3.6

**Operating system** (windows, osx, ...):  windows

**Issue**:

I would like to have a FAQ bot that responds to multiple tenants. The tenants are different businesses and the bot response would be different based on the business.

For example, if I asked what are the opening hours of your business, that differs based on the business.

In my d

[2019-01-15 07:44] Arghya999 opened #1573 "Unclear how to pass in a pre-trained core model when training interactively"
**Rasa Core version**: 0.12.3

**Python version**: Python 3.6.8

**Operating system** (windows, osx, ...):ubuntu

**Issue**:In Interactive training,user defined actions in domain file are not getting used even when the flow is adhering to a previously defined path in stories.md and the intents/entities are getting recognized correctly.

I have defined a path in stories.md as :-

#happy path model

[2019-01-15 08:59] alucard001 commented on #1143
I understand that this is closed.  Just to drop a note to people who is looking for the answer to above problem.

To solve this problem, downgrade prompt-toolkit to 1.0.14.  To check the current version of this module, do:

[code]
To install new version, do:

[code]
It works for me, hope it will work for you also.

[2019-01-15 09:54] akelad opened #1574 "FallbackPolicy should jump in when the top n intents have similar confidence"
Right now it only jumps in if the NLU confidence is below a certain threshold. It should however also jump in if the top 2 intents have a confidence of 0.98 and 0.80 for example.
I've already started looking into this for the rasa-demo

[2019-01-15 09:58] akelad opened #1575 "Rasa Core should throw an error if no policies are defined in the yaml"
There was a bug in the conversational-ai-workshop-2018 where the config yaml was wrongly defined:
[code]
(policy should be policies). The model still looked like it was training though and stored something to the models/dialogue folder.
When then running the model, this error is thrown:
![image](https://user-images.githubusercontent.com/32450038/51172803-51f98e00-18b4-11e9-89dd-94d1e77ad275.png)
W

[2019-01-15 10:05] akelad commented on #1573
Thanks for raising this issue, @MetcalfeTom  will get back to you about it soon.

[2019-01-15 10:05] akelad commented on #1572
Please ask these kind of questions in our [forum](https://forum.rasa.com)

[2019-01-15 10:05] #1572 closed

[2019-01-15 10:11] akelad opened #1576 "Better error message for non existent policy type"
Right now if you train a model with a config yaml with a policy name that doesn't exist (e.g. training core 0.12.2 with the "TwoStageFallbackPolicy" which doesn't exist in that model), you get a mysterious error like this:
[code]
This should explain to the user that their policy doesn't exist instead.

[2019-01-15 10:21] akelad commented on #1561
So this is about the Core confidence, rather than NLU confidence right? I'll discuss this with the team, but i'm not sure whether it makes sense to implement this

[2019-01-15 10:22] MetcalfeTom commented on #1573
Hi @Arghya999,

Does the bot predict the correct action when run from the command line?

[2019-01-15 10:34] Arghya999 commented on #1573
Hi MetcalfeTom,

Yes,the bot predicts the correct action outside of interactive learning when having a conversation based on the paths in stories.md.(most of the time)

[2019-01-15 11:09] ShaileshSarda commented on #1322
Traceback (most recent call last):
  File "rasa_dialogue_model.py", line 46, in <module>
    train_dialogue()
  File "rasa_dialogue_model.py", line 30, in train_dialogue
    agent = Agent(domain_file, policies=[MemoizationPolicy(), KerasPolicy(max_history=3, epochs=200, batch_size=50), fallback])
  File "/home/shaileshsarda/FAVA/lib/python3.6/site-packages/rasa_core/agent.py", line 209, in __init_

[2019-01-15 12:04] KahCosta opened #1577 "Set colors in console output"
**Rasa Core version: 0.11.12**

**Python version: 3.6**

**Operating system (windows, osx, ...): Docker image python 3.6, with Linux Kernel.**

**Issue:**

When starting a conversation with the bot through the terminal, it is extremely relevant to have good visibility about what is asked to the bot, as well as what is returned to the user as a response of the interaction.

This issue is to develop

[2019-01-15 13:16] tmbo commented on #1524
@Ghostvv how can we update the example in https://rasa.com/docs/core/slotfilling/#validating-user-input, or should we remove it?

[2019-01-15 13:32] tmbo commented on #1524
alright, I think it is quickest if you take that on for the next sprint

[2019-01-15 13:38] ShaileshSarda commented on #1322
Specify in your dialogue_model.py file:
from rasa_core.policies import Policy, FormPolicy
---------------------------
      agent = Agent(domain_file, policies=[MemoizationPolicy(), KerasPolicy(), FormPolicy()])
It will help you to reslove your problem.

[2019-01-16 10:10] wochinge commented on #1561
So you basically try to force Core to follow a path of your training data, right?
I think there are currently better options to do that
* use the Keras Policy with a featurizer which considers the intent probabilities
* https://rasa.com/docs/core/master/policies/#two-stage-fallback-policy

[2019-01-16 10:30] MetcalfeTom commented on #1573
Can you paste the command you are using to run interactive learning?  In particular, what are you passing with your `--core` flag?

[2019-01-16 10:54] Arghya999 commented on #1573
I am using :-
python -m rasa_core.train interactive -o models/dialogue -d domain.yml -s stories.md --nlu models/nlu/default/current

I am not using the --core flag but the -o flag to pass the dialogue state.

[2019-01-16 11:32] oniz93 commented on #1561
@wochinge I tried to use Keras Policy but isn't the best option for my case.
Keras policy tries to figure which could be the next action based on the intent probabilites but can't follow a story graph structured like a tree.

Just to do an example, if you see my story above:
- user choose contest 1
(Rasa follow the path "contest 1")
- user say a question included in contest 2 (but with a lower pro

[2019-01-16 13:11] tmbo commented on #1577
The bot responses are already colored (shoud be blue) - I don't think there is an easy way to color the message you type (as that is input and not output) - but might be wrong

[2019-01-16 18:39] brodie11 commented on #1573
I realize this is closed, but I had the same issue.  I didn't see this documented in the Interactive Learning section and would never have figured this out myself.  Can you make this more apparent in the documentation somewhere?

[2019-01-16 19:14] #1580 closed

[2019-01-16 19:15] tmbo commented on #512
done

[2019-01-16 19:15] #512 closed

[2019-01-16 19:17] tmbo opened #1584 "Cut a 0.13 release"

[2019-01-16 19:21] tmbo opened #1585 "Remove leftover python 2 traces"
- remove `future` package
- replace `io.open` with `open`

[2019-01-16 19:41] tmbo opened #1586 "Async handling and sending of requests"
- replace flask with sanic
- replace requests with asyncio
- use async io where it makes sense
- check out async features of questionary

[2019-01-17 09:17] alucard001 opened #1588 "rasa_core.run --nlu models/current/nlu problem"
**Rasa Core version**: 0.12.3

**Python version**: 3.6

**Operating system** (windows, osx, ...): CentOS7

**Issue**:
Here is the command I start RasaCore
`python3.6 -m rasa_core.run --core models/dialogue/ --nlu models/current/nlu/ --port 5001 --log_file log/RasaCore.log --endpoints config/endpoints.yml --enable_api -vv`

when I am using the terminal to test:
[code]
Here is what I got:

[code]

A

[2019-01-17 09:31] srikarplus commented on #1143
Also your iPython should be of 6.5.0.
`pip install ipython==6.5.0`

[2019-01-17 10:02] Ghostvv commented on #1533
@gzarafbk could you please try `fix-fallback` branch of `rasa_core` with your form and original config?

[2019-01-17 10:15] ztavlas commented on #1566
Hello,

I solved the problem. There shouldn't be any slack_channel parameter in the file.

Thanks.

[2019-01-17 10:15] #1566 closed

[2019-01-17 10:59] PrasannaGaneshu commented on #949
Hi @akelad ,
Im facing similar issue while running the bot...

Bot is not giving response even though the custom action server is up and running....

![untitled1](https://user-images.githubusercontent.com/38690247/51313997-e9a5da80-1a74-11e9-9322-765cc456edd7.png)

[2019-01-17 11:44] #1524 closed

[2019-01-17 11:49] akelad commented on #949
Please create a new issue

[2019-01-17 11:52] amn41 commented on #1574
For another project we also saw `highest confidence` - `second highest confidence` was a better metric than absolute value, so yes this should be configurable in the fallbackpolicy.

[2019-01-17 11:56] akelad commented on #1573
@MetcalfeTom can you take a look what needs to be changed in the docs and rename the issue accordingly?

[2019-01-17 11:58] akelad commented on #1588
Thanks for raising this issue, @wochinge  will get back to you about it soon.

[2019-01-17 15:39] MetcalfeTom commented on #1550
Hi @gzarafbk,

What does this `StatusChangeScoreSlot` look like in your domain?  Is it `unfeaturized`?

[2019-01-17 16:19] #861 closed

[2019-01-17 16:48] raoadnankhan opened #1593 "slot_mapping function in FormActions is not taking into account all mapping types"
**Rasa Core version**: "0.12.3

**Python version**: 3.6.3

**Operating system** (windows, osx, ...): windows

**Issue**: slot_mapping function in FormActions is not taking into account from_slot() mapping type.

**Content of domain file** (if used & relevant):
[code]

Here is my slot_mapping overridden function in myFormAction (action_basic_data_form) class:

 def slot_mapping(self):
        # typ

[2019-01-17 17:11] Ghostvv commented on #1593
do other slot_mappings work?

[2019-01-17 17:18] raoadnankhan commented on #1593
Yes

[2019-01-17 17:19] raoadnankhan commented on #1593
Here is the pdb extract:
[code]

[2019-01-17 17:22] Ghostvv commented on #1593
Are you sure, that you restarted action server after adding these slot mappings?

[2019-01-17 17:35] raoadnankhan commented on #1593
You mean, **python -m rasa_core_sdk.endpoint --actions actions** ? If so, yes.

[2019-01-17 17:45] Ghostvv commented on #1593
hard to tell what is happening, the similar `slot_mapping` for `formbot` works for me

[2019-01-17 17:49] raoadnankhan commented on #1593
What slot type did you set your variable as? Are they "unfeaturized" or "text"?

Any possibility that you can share the relevant pieces of your `formbot`?

[2019-01-17 18:01] Ghostvv commented on #1593
https://github.com/RasaHQ/rasa_core/blob/09abd01155728b855a8cd1ac9591c9540a3d5e42/examples/formbot/actions.py#L27

[2019-01-17 22:35] tdzienniak opened #1594 "Agent is not fully reloaded when loading model using /model API endpoint"
**Rasa Core version**:
0.12.4
**Python version**:
3.6.8
**Operating system** (windows, osx, ...):
Linux
**Issue**:

When I load new model through `/model` endpoint only policy ensemble is updated, but not domain and model fingerprint. This causes errors, when action not present in old domain is predicted by updated policy ensamble.

[2019-01-18 00:47] nahidalam commented on #565
We probably should close this issue as the connector is already merged

[2019-01-18 07:10] ShaileshSarda commented on #951
Hello @Ghostvv, as you mention above to use this for the same kind of error:
from rasa_core_sdk import Action
from rasa_core_sdk.events import SlotSet
yes, I am using this only in my actions file,
and I am using rasa core 0.12.2. still, I am having same above error.
Give some satisfying answer?

[2019-01-18 08:16] #1573 closed

[2019-01-18 08:47] akelad commented on #565
good point, thanks for noticing :D

[2019-01-18 08:47] #565 closed

[2019-01-18 08:47] akelad commented on #1594
Thanks for raising this issue, @tmbo  will get back to you about it soon.

[2019-01-18 09:13] alucard001 commented on #1588
More info for you:

if I am using the RasaCore CLI to start server, in Rasa NLU server I got below:

`"GET /parse?token=my_token&model=&project=models%2Fcurrent%2Fnlu&q=my+product+1 HTTP/1.1" 404 65 "-" "python-requests/2.20.1"`

As you can see, since the model param is empty, it results in `404 Not Found`.

However, if I am using Postman with this:

`192.168.0.1:5002/parse?token=my_token&model=nl

[2019-01-18 09:22] akelad opened #1596 "Create a policy that maps an intent to an action"
The idea is that you'll be able to provide a dictionary of intent/action maps, so that every time one of these intents is identified Rasa Core will directly respond with that action regardless of the context

[2019-01-18 10:00] #1517 closed

[2019-01-18 10:09] Ghostvv commented on #951
@agonzalezcollins please create a separate issue describing your error in detail

[2019-01-18 10:09] Ghostvv commented on #951
@ShaileshSarda please create a separate issue describing your error in detail

[2019-01-18 10:09] #951 closed

[2019-01-18 10:37] Ghostvv opened #1597 "Subsample randomly created augmented stories during training and mark them, so that memo policies can ignore them"
see below for inspiration: https://github.com/RasaHQ/rasa_core/blob/de0125bfd00a4748d65da3dcbc3c1a5d2843b80f/rasa_core/training/generator.py#L368

[2019-01-18 12:12] Ghostvv commented on #1596
doesn't memo with `max_history=1` is exactly this?

[2019-01-18 12:19] Ghostvv commented on #1596
it is a bit more than that

[2019-01-18 12:53] MetcalfeTom commented on #1509
Sorry for my error, the function `load_agent()` should look like this:
[code]
I copied your code and tested it with this implementation - it works from my end.  Let me know if this solves it

[2019-01-18 13:01] MetcalfeTom commented on #1525
`1.10.0` same as you.

I'm not certain why this error crops up, but there was a large thread about it on [tensorflow's repo](https://github.com/tensorflow/tensorflow/issues/20320) and the following advice seemed to work:

I hope this works for you.  I'll have to close this since it's not an issue on our end

[2019-01-18 13:01] #1525 closed

[2019-01-18 13:51] wochinge commented on #1588
Can you try

`python3.6 -m rasa_core.run --core models/dialogue/ --nlucurrent/nlu/ --port 5001 --log_file log/RasaCore.log --endpoints config/endpoints.yml --enable_api -vv` ?

Also, are you running a separate nlu server or do you want core to run the nlu model?

[2019-01-18 15:46] MetcalfeTom opened #1600 "Add AugmentedMemoizationPolicy to docs"

[2019-01-18 15:55] #1533 closed

[2019-01-18 17:11] Junitinn opened #1601 "Troubles to get FormAction working"
**Rasa Core version**: 0.11.1
**Python version**: 2.7.10
**Operating system** (windows, osx, ...): macOS

**Issue**: When I run 'train_initialize.py' in order to train my model I get this error:

Can not access action 'montoincrementos_form', as that name is not a registered action for this domain. Available actions are:
	 - action_listen
	 - action_restart
	 - action_default_fallback
	 - utter_sa

[2019-01-19 13:20] tmbo opened #1602 "Rasa "packs" a way to combine different bot parts to a combined bot"
The idea is to make it possible to easily combine parts from different bots to create a new bot. A "part" (naming preliminary) would consist of:
- domain file
- nlu training data
- story file

A bot can be trained based on multiple of these "parts", combining the different pieces in one trained model. If I remember correctly, merging of multiple nlu training data files is already implemented as we

[2019-01-21 02:36] alucard001 commented on #1588
Hi @wochinge

- This command works for me:
  `python3.6 -m rasa_core.run --core models/dialogue/ --nlu current/nlu --port 5001 --log_file log/RasaCore.log --endpoints config/endpoints.yml --auth_token my_token -vv`
- Also, are you running a separate nlu server or do you want core to run the nlu model?

    I do both.  I have a separated NLU server and would like RasaCore to control NLU.  I guess i

[2019-01-21 07:21] dummybot123 commented on #1424
How to retrain model with 0.12. My model version is coming 0.0.0.

[2019-01-21 08:00] akelad commented on #1424
Please create a new issue

[2019-01-21 08:04] dummybot123 opened #1603 "rasa_core.exceptions.UnsupportedDialogueModelError: The model version is to old to be loaded by this Rasa Core instance. Either retrain the model, or run withan older version. Model version: 0.0.0 Instance version: 0.12.3 Minimal compatible version: 0.12.0"
I wrote the following command for running Rasa Core.
`>python -m rasa_core.run -d framework/models/dialogue -u framework/models/nlu/default/model_20190121-131223 --endpoints framework/endpoints.yml`

Running this command is generating the following error.

rasa_core.exceptions.UnsupportedDialogueModelError: The model version is to old to be loaded by this Rasa Core instance. Either retrain the mod

[2019-01-21 08:09] akelad commented on #1603
Thanks for raising this issue, @wochinge  will get back to you about it soon.

[2019-01-21 08:10] akelad commented on #1601
Thanks for raising this issue, @Ghostvv  will get back to you about it soon.

[2019-01-21 08:11] akelad commented on #1596
exactly :P

[2019-01-21 10:38] Alexmhack opened #1605 "Loading chat history in UI from rasa_core"
**Rasa Core version**: 0.12.4

**Python version**: 3.6

**Operating system** (windows, osx, ...): windows

**Issue**: I am familiar and used redis tracker store with rasa_core and I have also wrote a web interface from scratch for showing rasa_core messages but how do I show or load the chat history from the users in their respective chat widgets when they use the chat widget again just like the [

[2019-01-21 10:46] smn-snkl opened #1606 "Forks not saved in interactive learning"
**Rasa Core version**:
0.12.4
**Python version**:
3.6
**Operating system** (windows, osx, ...):
Ubuntu
**Issue**:
When I run an interactive learning session to train longer stories with different decisions, it would be useful to be able to use the Fork feature to generate different training stories. However, atm only the current / latest fork at the time of the export is stored in the stories.md.

[2019-01-21 12:57] Junitinn commented on #1601
Thank for ur reply. I have also tried that but I get a different error. I get my actions server working as you can see:

´´´´ymal
INFO:__main__:Starting action endpoint server...
INFO:rasa_core_sdk.executor:Registered function for 'definir_derecho_incrementos'.
INFO:rasa_core_sdk.executor:Registered function for 'montoincrementos_form'.
INFO:__main__:Action endpoint is up and running. on ('0.0.0.0

[2019-01-21 13:11] Ghostvv commented on #1601
it looks like the method `required_fields` shouldn't take `tracker`
[code]

[2019-01-21 13:14] akelad opened #1608 "test"
**Rasa Core version**:

**Python version**:

**Operating system** (windows, osx, ...):

**Issue**:

**Content of domain file** (if used & relevant):
[code]

[2019-01-21 13:17] Arghya999 opened #1609 "dialog is not following stories.md after introducing custom actions"
**Rasa Core version**:0.12.3

**Python version**: Python 3.6.8

**Operating system** (windows, osx, ...): Ubuntu 16.04

**Issue**: dialog is not following stories.md after introducing custom actions.
Using Jupyter notebook for writing and testing the code.

I am really new to Rasa  and have been exploring it for the purpose of building a chatbot.
Having a difficult time when it comes to custom  ac

[2019-01-21 13:21] Junitinn commented on #1601
Thanks @Ghostvv, sadly I get another error when I try to use my FormAction

´´´yaml
DEBUG:rasa_core_sdk.executor:Received request to run 'montoincrementos_form'
ERROR:flask.app:Exception on /webhook [POST]
Traceback (most recent call last):
  File "/Users/mbp/venv/lib/python2.7/site-packages/flask/app.py", line 2292, in wsgi_app
    response = self.full_dispatch_request()
  File "/Users/mbp/venv/l

[2019-01-21 13:34] Ghostvv commented on #1601
Please check the [description](https://rasa.com/docs/core/0.11.12/slotfilling/#form-fields-and-free-text-input) of which arguments should be provided

[2019-01-21 13:41] Junitinn commented on #1601
Thank you very much @Ghostvv, you are totally right. I have got it working.

[2019-01-21 13:52] Ghostvv commented on #1601
should be, but you're using the old version of `rasa_core` and `rasa_core_sdk` we released a new version with the new forms

[2019-01-21 13:54] Junitinn commented on #1601
Fine @Ghostvv. I really appreciate your help.

[2019-01-21 13:57] wochinge commented on #1540
@dummybot123 Please ask usage questions in our [forum](https://forum.rasa.com)

[2019-01-21 14:12] wochinge commented on #1603
@dummybot123 Are you actually pointing to trained core model? Based on the model version `0.0.0` I think this is not a valid core model at all. How to do the training is described here: https://rasa.com/docs/core/policies/

[2019-01-21 14:13] #1608 closed

[2019-01-21 14:18] #1601 closed

[2019-01-21 14:21] #1584 closed

[2019-01-21 16:07] macasas opened #1612 "Telegram connected but always returns 404"
i have a virtual environment running python 3.6
Rasa-core 0.12.4
Rasa-nlu 0.12.1

To take things back to basics, I setup the starter demo pack from the repo, no changes made trained nlu and core.

Running ngrok http 5005
https://xxxxxxxx.ngrok.io -> localhost:5005

Then added telegram credentials.yml
webhook url = https://xxxxxxxx.ngrok.io/webhook

all I get back is POST /webhook

[2019-01-21 17:10] #1537 closed

[2019-01-21 17:52] cigol1234 opened #1614 "Rasa isn't running custom actions"
**Rasa Core version**: 0.12.3

**Python version**: 3.6.7

**Operating system** (windows, osx, ...): Ubuntu

**Issue**: Rasa isn't returning anything associated with custom actions. Whenever the user sends a message associated with an intent that has an "utter_*" action it returns the response no problem, however when a user sends a message that is associated with an intent that has a custom action

[2019-01-22 09:16] #1540 closed

[2019-01-22 09:18] algteam opened #1615 "Upload a trained model"
**Rasa Core version**:0.12.4

**Python version**: 3.6

**Operating system** (windows, osx, ...): ubuntu 16.04

**Issue**:Upload a trained model

[Upload a trained model](https://rasa.com/docs/core/0.12.0/server/#operation/uploadModel)

How to set the incoming parameters

[2019-01-22 10:11] macasas opened #1616 "Process killed, same place same progress"
Can anyone tell me what causes visualize to lock up in the same place every time.
Running this on Ubuntu 18
No errors given, here is my terminal

(rasa-demo-py3) dave@yoga-ubuntu:~/chatbots/confessionbot/dev$ make visualize-english
# make run-actions&
python3 -m rasa_core.visualize -s data/en/core/ -d data/en/domain/domain.yml -o story_graph.html
/home/dave/python_envs/rasa-demo-py3/lib/python3.6/

[2019-01-22 10:30] akelad commented on #1605
Please ask these kind of questions in our [forum](https://forum.rasa.com)

[2019-01-22 10:30] #1605 closed

[2019-01-22 10:30] akelad commented on #1606
Thanks for raising this issue, @tmbo  will get back to you about it soon.

[2019-01-22 10:32] akelad commented on #1609
Please ask these kind of questions in our [forum](https://forum.rasa.com)

[2019-01-22 10:32] #1609 closed

[2019-01-22 10:42] akelad commented on #1615
Please ask these kind of questions in our [forum](https://forum.rasa.com)

[2019-01-22 10:42] #1615 closed

[2019-01-22 10:43] akelad commented on #1612
would you mind creating a PR to fix that?

[2019-01-22 11:05] macasas commented on #1612
@akelad sure, but I thought pull requests were for changes in the repo, not errors on the website.  How would you like me to go about doing this, because I have seen other errors as well, such as the ngrok httpd 5005 error.

[2019-01-22 16:34] #1228 closed

[2019-01-22 16:49] wochinge commented on #1561
I close this due to https://github.com/RasaHQ/rasa_core/pull/1562#issuecomment-456472759.
Thanks again for the effort you put into the pull request!

[2019-01-22 16:49] #1561 closed

[2019-01-22 20:05] raoadnankhan commented on #1593
Issue found to be with the trailing 's' being stripped in the `slot_mappings` function name while overriding it in derived class. Once fixed, no issue with the slot mapping types.

[2019-01-22 20:05] #1593 closed

[2019-01-23 05:37] ASHUSINGH16 commented on #1082
@PravinrajV Hi can you please share NLU Intent example corresponding to your utter_templates. It would be great help for other to achieve a sufficient NLU model for their general conversation chatbot. To write such big number of intent would difficult.

[2019-01-23 08:40] wochinge commented on #1588
There are two different cases.
1. You are running the NLU model with Rasa Core. In this case you have to point to the exact directory (e.g. `models/current/nlu/`)
2. You are running NLU as server and NLU manages its model on its own. In this case NLU already knows the directory where the NLU model is stored. By running Core with `-u current/nlu` you specify which project and model it should reques

[2019-01-23 09:07] akelad commented on #1612
The docs live in this repo, under `docs/` so you can make those changes there!

[2019-01-23 09:07] akelad commented on #1616
Thanks for raising this issue, @EPedrotti  will get back to you about it soon.

[2019-01-23 09:51] #1575 closed

[2019-01-23 09:51] #1576 closed

[2019-01-23 10:37] EPedrotti commented on #1616
hi @macasas , which version of rasa_core are you using?

[2019-01-23 11:09] #1512 closed

[2019-01-23 12:12] leonore commented on #1614
I'm getting the same issue as well

[2019-01-23 12:35] adkarhe opened #1624 "how can i integrate my own nlu with rasa core to build a converstional chatbot"
i have my own entity and intent extraction algorithm ,
i just want  integrate rasa core with my own nlu for dynamic conversation.
can any one please help me to solve this problem

[2019-01-23 12:59] wochinge opened #1625 "Multiple channels per channel type"
Currently it's not possible to serve multiple channels of the same type, e.g. it is not possible to provide two Slack credentials and thereby supply to Slack channels.

Ideally something like this should be possible:
[code]

[2019-01-23 13:14] EPedrotti commented on #1616
@macasas we are sorry but we could not reproduce this issue. This may be related to the data that you are using. Try to modify your models and see if this goes away or if during training you get any warnings or errors that may not stop the training, but that make the visualize freeze.

[2019-01-23 13:35] nguyenvietly opened #1626 "Confirm formaction when training interactive"
**Rasa Core version**: 0.13.0a6

**Python version**: 3.6.6

**Operating system** (windows, osx, ...): Windows 10

**Issue**:
When I let interactive bot learn and confirm the form action, I get an error as shown below :(
TypeError: 'bool' object is not subscriptable '

![image](https://user-images.githubusercontent.com/39078952/51609868-c6d06600-1f4d-11e9-80ea-d973abd74d53.png)

![image](https://us

[2019-01-23 15:17] wochinge opened #1627 "Connector parameter overwrites credentials parameter."
When running Rasa Core any connector specified with `-c` or `--connector` will overwrite anything specified with `--credentials`.

This is the location where it happens:
https://github.com/RasaHQ/rasa_core/blob/780bd4d115d3cb89f87c1b6732680572fe86c69d/rasa_core/run.py#L107

There should either be a warning or both configurations should be used.

[2019-01-23 15:38] MetcalfeTom opened #1628 "Pass message_id with payload to the NLUHttpInterpreter"
We want to keep track of where a message has been, so it makes sense to add this to the payload when parsing via a HTTP request

[2019-01-23 16:26] macasas commented on #1616
I found 1 warning about an intent having only 1 utterance, but that doesn't solve the problem

Is it perhaps my system running out of memory, when it gets to 64% the trackers is around 70,000 and then at 66%, the #trackers count jumps to 286408, this seems like a high number, and it then sits at 66% for about 4 minutes before exiting as failed.

I have 7750 action examples, which I think means sto

[2019-01-23 19:51] linediconsine opened #1629 "rasa_core stop reply using rest and (edit: unimplemented) actions"
Hi There and thanks for rasa! Now I am fighting with the following problem:

## I think I figure out the main problem

If in *domain.yml* actions I have something like
[code]
but I didn't implement the python action

then
Rasa freeze on searching for fallback without any message

Here is some tests I used to figure out
_______________________

Version:
[code]
and Python 3.6 on OsX

**Issue**:
Step

[2019-01-23 19:56] linediconsine commented on #1629
Update, I see the same problem using

[code]

[2019-01-24 05:16] nguyenvietly opened #1630 "Input validation in Interactive Learning fail because the 'form_answers' variable is returned to the Boolean data type but is used as Dict."
**Rasa Core version**: 13.0

**Python version**: 3.6

**Operating system** (windows, osx, ...): Windows 10

**Issue**:
When I training bot by Interactive Learning, validate input form and debug. I see that the 'form_answers' variable has a boolean data type. But below, 'form_answers' is used again as the data type dict form_answers ["validation"], which causes the following error when learning int

[2019-01-24 08:45] akelad commented on #1630
Thanks for raising this issue, @Ghostvv  will get back to you about it soon.

[2019-01-24 08:46] akelad commented on #1629
Thanks for raising this issue, @wochinge  will get back to you about it soon.

[2019-01-24 08:48] akelad commented on #1624
Please ask these kind of questions in our [forum](https://forum.rasa.com)

[2019-01-24 08:48] #1624 closed

[2019-01-24 08:52] EPedrotti commented on #1616
@macasas can you share your data?

[2019-01-24 09:47] Ghostvv commented on #1630
Thank you for spotting and analyzing the bug. I have created a PR to fix it: https://github.com/RasaHQ/rasa_core/pull/1631

[2019-01-24 10:18] gzarafbk commented on #1550
Hi,

sorry for the late answer. `StatusChangeScoreSlot` is not `unfeaturized`. In the domain it looks like this:

[code]
This is how I understood custom slots should be used. Thanks in advance for your help :)

[2019-01-24 10:32] nguyenvietly commented on #1630
Thanks very much @akelad @Ghostvv !!!!

[2019-01-24 10:46] macasas commented on #1616
I am not able to share my data on this forum.

I think you might be right, in that I have some how created a Link loop. When I run --debug-plot I get an html file, but every story label is A_Story_called_St.....  so it doesn't actually tell me the name of the story.  I have searched in rasa_core/train.py to see if I can change this label but as yet I have not found where it is being generated.

I

[2019-01-24 10:48] EPedrotti commented on #1616
I am marking this issue as closed. Fell free to reopen if the loop thing does not work.

[2019-01-24 10:48] #1616 closed

[2019-01-24 10:55] wochinge commented on #1627
Ok :+1: then we should maybe still print a warning.

[2019-01-24 10:58] MetcalfeTom commented on #1614
Hi!  I tested printing in the middle of a custom action on my action server and it worked, so I need a little more clarity on why this isn't working for you.

Firstly, who told you `the actions should still work in my own app now, despite Exiting this running process`?  All the actions are executed on the endpoint's side, so you need to keep this running

Can you also post the contents of your `en

[2019-01-24 13:54] macasas commented on #1616
I have not found the actual culprit yet, but having removed the entire conversation except greetings and farewells, the visualisation works.

Can you point me in the right direction to find where the story_blocks_connections.html generator is creating the name A_Story_called_ something because I have searched the entire rasa-core library and cannot find it. If this name was shorter I could then re

[2019-01-24 14:32] linediconsine commented on #1629
Hi Akelad,
I think the problem is that when domain.yml have an error the server stops working without showing any error message.

I hope it helps

Marco

[2019-01-24 15:58] cigol1234 commented on #1614
@MetcalfeTom Thank you very much.

I'm afraid I can't remember where I read that the actions would work without the running process. I got the idea from reading the solution to someone else's issue on here however I must have misunderstood the explanation.

I also never wrote my own endpoints.yml, on the solution to the issue I read that I could simply run 'python3 -m rasa_core_sdk.endpoint --acti

[2019-01-24 16:55] Junitinn commented on #411
I guess that's something you could configure since your story.md. Declaring "Submit" and "Cancel" as intends and write your stories based on whatever you want the bot say.

[2019-01-24 17:58] tm-robinson opened #1633 "invalid syntax in rasa_core/config.py on python 2.7"
**Rasa Core version**:
[code]

**Python version**:
[code]

**Operating system** (windows, osx, ...):
[code]

**Issue**:
When attempting to follow the getting started guide at https://rasa.com/docs/get_started_step2/ (running locally) it all works ok until I get to the train dialogue step, and then I get an `invalid syntax` error in config.py:

[code]

**Content of domain file** (if used & relevant

[2019-01-25 08:19] tmbo commented on #1194
@thiagodiogo @tapos12 I've found the issue you were experiencing, it is fixed in #1634

[2019-01-25 09:00] akelad commented on #1633
@tm-robinson from version 0.13 python 2.7 is no longer supported. Please upgrade to python 3.6 or use an older version of rasa_core. In general it's recommended you upgrade to python 3.6 anyways, as support for python 2 is being deprecated in general

[2019-01-25 09:00] #1633 closed

[2019-01-25 09:24] tm-robinson commented on #1633
Thanks @akelad.  I did check the documentation and it looks like it needs updating:

https://rasa.com/docs/nlu/master/faq/#does-it-run-with-python-3

[2019-01-25 13:01] thiagodiogo commented on #1194
That's awesome, thanks @tmbo! I will update and test it

[2019-01-25 13:57] wochinge commented on #1629
@linediconsine Can you please run Rasa core with `--debug` and share your logs with me when the freezing happens?

[2019-01-25 14:23] wochinge opened #1637 "TwoStageFallbackPolicy: Treat affirmation response with low confidence as rephrasing"
If the user responds to the affirmation request with a message with low confidence, the twostagefallbackpolicy immediately does the "ultimate" fallback. Instead the user should get one more chance.

Current flow:

[code]

Better would be:
[code]

[2019-01-25 20:50] #1194 closed

[2019-01-25 22:13] lo50g3usuresh commented on #1194
Awesome! Thanks @tmbo . Just verified and working fine.

[2019-01-25 23:15] tmbo commented on #1529
Not yet - but I guess this could be a good community contribution.

[2019-01-26 01:52] #1543 closed

[2019-01-26 21:22] Kai-Karren opened #1639 "Is there a maximum of stories?"
**Rasa Core version**:
0.12.2
**Python version**:
3.6
**Operating system** (windows, osx, ...):
Linux Ubuntu 18.04
**Issue**:
Hi, I am currently working with a team on an university project which uses your tool. We created a Compiler which creates the required rasa files from the Twee Story format to create a Bot which allow to play interactive stories. Our problem / question is if there is a maxi

[2019-01-27 05:06] rsreeni commented on #1527
@stacybot123 ,

Did you get it to work ?

thanks,

-SR

[2019-01-27 15:01] #1614 closed

[2019-01-27 15:02] cigol1234 commented on #1614
Found the solution to my problem here: https://github.com/RasaHQ/rasa_core/issues/1223

[2019-01-27 18:03] lucasmucidas opened #1641 "Trouble installing rasa_core: incompatible packages"
**Rasa Core version**: 0.13.0

**Python version**:  3.6

**Operating system** (windows, osx, ...): Windows 10 Professional

**Anaconda version**: 1.7.2

**Issue**:

Starting a clean environment using Conda:

[code]

Results:

[code]

**Errors:**

[code]

I also have tried (No luck):

``
pip install rasa_core --no-cache-dir
``

Trying to install rasa-nlu after that:

``
pip install rasa_nlu[tensorf

[2019-01-27 19:13] leonore opened #1642 "ModuleNotFoundError: No module named 'actions.actions' when trying to run an action server in a docker container"
**Rasa Core version**:  0.12.4

**Python version**: 3.6.4

**Operating system** (windows, osx, ...): macOS 10.14.2

**Issue**: Hi, I'm trying to create a docker image that runs the rasa-core action server.
My docker-compose.yml:
[code]
Running `docker-compose up` does get the action server up and running:
```INFO:__main__:Action endpoint is up and running. on ('0.0.0.0', 5055)```
But I get the fol

[2019-01-27 21:06] netcarver commented on #1641
Seeing the same results in a linux docker container.

[2019-01-28 00:47] #812 closed

[2019-01-28 02:17] lightmagic1 commented on #1641
Same thing happening to me, using git clone

[2019-01-28 04:50] joseariel opened #1643 "Predicted next action is always 'action_listen'"
**Rasa Core version**:
rasa-core (0.12.4)
rasa-nlu (0.13.8)

**Python version**:
Python 3.4.2

**Operating system** (windows, osx, ...):
Linux

**Issue**:

I'm really in the dark here, any clue would be greatly appreciated. Due to our use case, we have to execute an action (utter_ask_any_application_questions) before the user message. For this we're using:

[code]

Followed by:

[code]

The proble

[2019-01-28 10:05] akelad commented on #1643
Please ask these kind of questions in our [forum](https://forum.rasa.com)

[2019-01-28 10:05] #1643 closed

[2019-01-28 10:05] akelad commented on #1641
Thanks for raising this issue, @EPedrotti  will get back to you about it soon.

[2019-01-28 10:09] akelad commented on #1642
Thanks for raising this issue, @imLew  will get back to you about it soon.

[2019-01-28 10:10] akelad commented on #1527
@wochinge can you look into this?

[2019-01-28 10:12] akelad commented on #1639
Please ask these kind of questions in our [forum](https://forum.rasa.com)

[2019-01-28 10:12] #1639 closed

[2019-01-28 10:12] akelad commented on #1499
@gaurvipul please create a new issue

[2019-01-28 10:14] akelad commented on #1633
Hmm, that says it's supported until 0.14 -- which is correct no?

[2019-01-28 12:32] elcolie commented on #1500
@Sayak9495 How did you solved this?

[2019-01-28 12:47] elcolie commented on #1500
I found it. I have to fill some content in the `stories.md` first and then interactive learning will works!

[2019-01-28 14:40] #1568 closed

[2019-01-28 15:58] rgstephens opened #1646 "Domain directory [Enhancement]"
**Rasa Core version**: 0.12.0

**Enhancement**: For NLU stories and training data, the support of a directory of files is very useful for organizing the bot. Would there be support for  PR to support a directory for domain.yml data? I'm sure this touches many of the core files.

[2019-01-28 16:39] akelad commented on #1642
Actually, @wochinge can you take a look instead please

[2019-01-28 16:39] tmbo opened #1647 "Proper confidence scores for memoization and fallback policies"
Suggestion:
we could have `policy.priority` with default values as they are now or smth. `predict` methods will still predict with normal probabilities, but `ensemble` will multiply this probabilities by `policy.priority`

[2019-01-28 16:42] tmbo commented on #1647
I think we need to discuss, how we do this best, but the policies should not return a probability of 1.1 or 1.2, rather they should all return values between [0, 1]. Maybe we use the order of the policies to define which ones overwrite which other policies? Or is there a case where that would not work? (cc @akelad , @Ghostvv )

[2019-01-28 16:44] akelad commented on #1647
Does multiplying probablities not still mean we have ridiculous probabilities?

[2019-01-28 16:48] Ghostvv commented on #1647
I'd say order of the policies is not very reliable thing

multiplying probabilities in ensemble, I think is fine, because after picking them, we renormalize them (we can even simply divide by priority back, because e.g. for `EmbeddingPolicy` renormalization is wrong)

[2019-01-28 16:49] akelad commented on #1647
hm, why isn't order of policies reliable? yeah but then we're still doing the same thing we were doing before kind of

[2019-01-28 16:50] Ghostvv commented on #1647
because order of the policies depends on the user, and many of them will not want to know about priorities, but will start to complain why fallback overrides forms

[2019-01-28 16:52] Ghostvv commented on #1647
but this priorities is essentially specifies the order, we could make them customizable. Multiplication is just one of the ways to implement it

[2019-01-28 17:49] wochinge commented on #1642
Could you create a directory `actions` in `chat-interface`, put an empty file `__init__.py` in `chat-interface/actions` and restart the docker container?

Second option would be to put an empty file `__init__.py` in `chat-interface` and have a docker-compose file like

[code]

Did this help you?

[2019-01-28 17:59] wochinge commented on #1527
@stacybot123 Sorry, for this late answer. Totally missed that one 🤦‍♂️
Can you please try `sudo docker run -it  -v $(pwd):/app/project   -v $(pwd)/models/rasa_core:/app/models   rasa/rasa_core:latest   run python -m rasa_core.train interactive -o project/model/rasa_core/dialogue -s  project/data/stories.md -d project/domain.yml --endpoints project/config/endpoints.yml -u current/current
` to run t

[2019-01-28 19:37] stacybot123 commented on #1527
@wochinge  . I still have the same error

[code]
While if I access
http://localhost:5000/parse?model=current&project=current&q=hello
on browser it gives me the output as :

[code]
http://localhost:5055/health
on browser returns
[code]

[2019-01-28 20:40] joseariel commented on #1643
Thank you Akela, I've gone ahead and moved the question to the forums as you suggested:

https://forum.rasa.com/t/predicted-next-action-is-always-action-listen/4722

Please let me know your thoughts when you have a moment to take a look.

Thank you,
Joseariel

[2019-01-28 23:52] tm-robinson commented on #1633
Ah I see - I think I was confused between versions of NLU and Core.  Yes - the doc I quoted implies NLU v0.14 should work with Python 2.7, but I am on 0.14.1 which I guess no longer does.  On the other hand, it sounds like Core doesn't support Python 2.7 from v0.13 onwards.

[2019-01-29 08:48] akelad commented on #1633
ok maybe the phrasing is a bit confusing, i'll fix that. up to and including v0.13, python 2.7 is supported. From 0.14 and onwards, it is not.

[2019-01-29 08:49] akelad commented on #1633
wait no that's the docs for NLU, yeah v0.14 should still work

[2019-01-29 08:52] akelad commented on #1633
Hmm, no 0.14.1 for NLU still supports python 2.7
However, Core 0.13.0 does not

[2019-01-29 09:31] akelad commented on #1646
@tmbo is this something we're planning on adding?

[2019-01-29 09:42] tmbo commented on #1646
Yes, this PR https://github.com/RasaHQ/rasa_core/pull/1490 already goes into that direction - not sure we will do it exactly this way though.

[2019-01-29 10:22] elcolie opened #1649 "NameError: Cannot access action 'form("name": "candy_form"}', as that name is not a registered action for this domain. Available actions are:"
**Rasa Core version**:
[code]

**Python version**:
`3.6.8`

**Operating system** (windows, osx, ...):
OSX `10.14.2`

**Issue**:
`make train-core` raises the error
[code]

I have checked with community forum, but no solution found there.

**Content of domain file** (if used & relevant):
`stories.md`
[code]

`domain.yml`
[code]

`actions.py`
[code]

directories
[code]

`Makefile`
[code]

[2019-01-29 10:37] akelad commented on #1646
ok i'll close this issue then

[2019-01-29 10:37] #1646 closed

[2019-01-29 10:38] #1501 closed

[2019-01-29 10:38] Ghostvv commented on #1647
no-one, but we anyhow have a lot of parameters, that no one want to customize. About the order in the `policy.yml` file, I think people might randomly throw in policies without thinking

[2019-01-29 11:34] leonore commented on #1642
Hi, thanks for helping with this - I don't get the error message with this anymore, just:
[code]
but now I can see my actions aren't actually getting registered, which they do when I run `python -m rasa_core_sdk.endpoint --actions actions` in my terminal instead of within the docker container:

[code]
So I don't think it's actually finding my actions file anymore.
For clarification purposes, does:

[2019-01-29 15:24] elcolie opened #1652 "What is the best practice to extract multiple entities from single sentence to `Slots`?"
I had tried `NLU` and also `Action`. But it seems I can set `Slots` one element per sentence

**Rasa Core version**:
[code]
**Python version**:
`3.6.8`
**Operating system** (windows, osx, ...):
`OSX 10.14.2`

**Issue**:
`Slot` takes only latest entity. However, in the `ActionConfirm` I can be able to retrieve both of my values. Which is good for API calling. But when I return `Slots` by using list

[2019-01-29 15:25] github-contenta opened #1653 "Are slots working properly on restaurantbot example?"
**Rasa Core version**: 0.12.4

**Python version**: 2.7.15rc1

**Operating system**: Ubuntu 18.04

**Issue**: I'm testing the restaurant bot to get a better understanding to how slots work, and this was my conversation:

[code]

I'm worriend about that "None" people. Is that expected?

[2019-01-29 16:28] wochinge commented on #1642
Kind of yes. It mounts the directory in the container.

In which directory are you running `rasa_core_sdk.endpoint --actions actions`?

I think I did a mistake in my previous comment, please try with:

[code]

[2019-01-29 16:57] erohmensing commented on #1647
can we discuss this tomorrow before @tmbo is gone this thurs-fri (right?)

[2019-01-29 17:23] leonore commented on #1642
This is how I did it originally, and what didn't work. This format triggers the `No module named 'actions.actions' error`
I run `rasa_core_sdk.endpoint --actions actions` if I'm within the chat-interface directory, or `rasa_core_sdk.endpoint --actions chat-interface.actions` if I'm in the parent directory.

[2019-01-29 18:37] smn-snkl commented on #1543
@JustinaPetr : Not sure about the "Get Started" flow, but I'm building directly from the 0.13.x branch and still receive the same error. Shouldn't the module also be added to the regular requirements?

[2019-01-29 18:49] joseariel commented on #1034
Hello, I'm having a similar issue. I have verified that the stories I am training follow the sequence of the tracker when testing, however I still can't seem to get rasa_core to respond with anything but action_listen.

Is there any other place I could check maybe within the source to debug this issue and at least understand why is rasa_core stuck with action_listen?

[2019-01-30 04:44] elcolie commented on #1649
I have to implement `validate` method to get rid of this issue.

[2019-01-30 04:44] #1649 closed

[2019-01-30 06:51] Sujay-shetty commented on #233
@tmbo couldn't able to find branch 'multi-file-stories' in the project.

Could you please provide the link of branch?
I also have similar requirement.

[2019-01-30 08:43] NikhilBansal21 commented on #1641
facing same issue. Any updates @akelad ?

[2019-01-30 09:31] akelad commented on #233
Loading multiple stories already exist, so i'm gonna close this issue

[2019-01-30 09:31] #233 closed

[2019-01-30 09:33] akelad commented on #1647
@Ghostvv we do that in NLU though and it seems to have worked out fine ;)

[2019-01-30 09:39] akelad commented on #1653
It just hasn't picked up the entities, probably because there's not enough training data in it, or you don't have the correct NLU config. In any case, please ask these kind of question in our [forum](https://forum.rasa.com)

[2019-01-30 09:39] #1653 closed

[2019-01-30 09:39] akelad commented on #1652
Please ask these kind of questions in our [forum](https://forum.rasa.com)

[2019-01-30 09:39] #1652 closed

[2019-01-30 10:05] Ghostvv commented on #1647
@akelad  by `that` what do you mean?

[2019-01-30 10:11] akelad commented on #1647
if you do it in the wrong order, things break

[2019-01-30 10:21] Ghostvv commented on #1647
ye, but in nlu, the order is quite logical in terms of steps in the pipeline, here these policies are parallel once

[2019-01-30 11:11] Sujay-shetty commented on #233
@akelad could you please provide information on how to achieve.
Couldn't find document in rasa how to perform this action.

[2019-01-30 11:54] Arghya999 opened #1656 "ERROR:rasa_core.processor:Encountered an exception while running custom action"
**Rasa Core version**:0.12.3

**Python version**: Python 3.6.8

**Operating system** (windows, osx, ...):Ubuntu 16.04

**Issue**:ERROR:rasa_core.processor:Encountered an exception while running action' Bot will continue, but the actions events are lost. Make sure to fix the exception in your custom code.

I have a file named bot.py which performs  the nlu,core training logic and starts the bot.
I

[2019-01-30 12:10] NikhilBansal21 commented on #1641
thanks :)

[2019-01-30 12:44] pbplugge opened #1658 "can't get local custom action working."
**rasa core version: 0.13.0
rasa nlu version: 0.14.1
python version: 3.5.3**

I don't want a custom action in an endpoint but i want the custom action to run locally.
Training the model goes fine, but when executing the action i get the error below.
When i run with --debug flag i get information that my endpoint is not configured:

`2019-01-30 12:16:53 DEBUG    rasa_core.processor  - The model pre

[2019-01-30 12:50] Junitinn commented on #1656
In the terminal where you are running your actions.py, did you get any kind of error?. It's probably the error is in your actions.py and the custom action is not performing properly. Could you check that terminal?

[2019-01-30 12:59] Junitinn opened #1659 "How to extract entities when using multi intent pipeline?"
Rasa Core version: 0.11.1
Python version: 2.7.10
Operating system (windows, osx, ...): macOS

**Issue**: Bot not able to recognize entities when using multi intent pipeline.

Hello everyone,

I have got a pretty intelligent bot able to recognize entities, intends and reply back properly. I worked with this config.json

[code]

But then I found this tutorial http://blog.rasa.com/how-to-handle-multi

[2019-01-30 13:38] valdu02100 opened #1660 "Action error library training dialog"
**Rasa Core version**:
rasa-core-sdk       0.12.1
rasa-nlu                0.14.1
**Python version**: 3.5

**Operating system** : Linux Ubuntu 16.04

**Problem**:
I'm nw user from RASA core.
I train my NLU  without problems but not my dialog.  I have an error from python :

[code]

[code]

[code]

Someone know the issue ?

Thanks for your help

[2019-01-30 13:53] nesspll opened #1661 "Custom actions won't work"
**Rasa Core version**: ```0.13.0```
**Rasa Core SDK version**: ```0.12.1```

**Python version**: ```3.6```

**Operating system** (windows, osx, ...): ```Windows 10```

**Issue**:
```rasa_core.processor  - Encountered an exception while running action 'email_verification'. Bot will continue, but the actions events are lost. Make sure to fix the exception in your custom code.```

**More Info**:
I ru

[2019-01-30 15:44] nesspll commented on #1128
how did u resolve this issue?

[2019-01-30 16:02] MetcalfeTom opened #1662 "Move starter pack tests into first Travis stage"

[2019-01-30 18:20] gkniesel commented on #1165
You can print and delete all reminder jobs with the following actions:

from rasa_core.processor import scheduler

class ActionPrintReminderJobs(Action):
    def name(self):
        return 'action_print_reminder_jobs'

    def run(self, dispatcher, tracker, domain):
        scheduler.print_jobs()
        print()
        jobs = scheduler.get_jobs()
        for j in jobs:
            print("id: {}\n

[2019-01-30 18:34] gkniesel commented on #1165
If you like to delete a specific reminder you can add the following line in the processor.py at the end of the function def _schedule_reminders:
name=str(e.action_name))

    def _schedule_reminders(self, events: List[Event],
                            dispatcher: Dispatcher) -> None:
        """Uses the scheduler to time a job to trigger the passed reminder.

        Reminders with the same `id`

[2019-01-30 18:39] GDBSD opened #1663 "Conflicting Dependencies"
**Rasa Core version**: rasa-core 0.12.4

**Python version**: 3.6

**Operating system** (osx):

**Issue**:
Probably the single biggest problem I have with RASA are the challenges of getting a combination of supporting dependencies that _work_! Hours wasted messing with things that the core developers should test and resolve before releasing. One example (there are many):
```rasa-core 0.12.4 has req

[2019-01-31 08:52] MetcalfeTom commented on #1550
Could you also show me the code for `action_set_profiled`?

Also, which policy predicts `action_set_profiled`?

[2019-01-31 08:59] gzarafbk commented on #1550
Sure, here's the code of the action:

[code]

The policy predicting the action should be `KerasPolicy`

[2019-01-31 09:13] akelad commented on #1663
This should be fixed in the latest version

[2019-01-31 09:13] #1663 closed

[2019-01-31 09:15] akelad commented on #1165
Would you be willing to create a PR with this contribution? We'd like to be able to have cancelling of reminders as a core functionality of rasa_core

[2019-01-31 09:17] akelad commented on #1661
Thanks for raising this issue, @EPedrotti  will get back to you about it soon.

[2019-01-31 09:17] akelad commented on #1660
Thanks for raising this issue, @Ghostvv  will get back to you about it soon.

[2019-01-31 09:17] akelad commented on #1659
Please ask these kind of questions in our [forum](https://forum.rasa.com). You need to add an actual entity extractor to your pipeline, e.g. `ner_crf`

[2019-01-31 09:17] #1659 closed

[2019-01-31 09:18] akelad commented on #1656
Thanks for raising this issue, @erohmensing  will get back to you about it soon.

[2019-01-31 09:19] akelad commented on #1658
You need to run the custom action server otherwise you can't execute any custom actions. This still runs locally, so you should be fine

[2019-01-31 09:19] #1658 closed

[2019-01-31 09:20] akelad commented on #1641
@EPedrotti this should be fixed with NLU 0.14.2 now right? If yes, please close

[2019-01-31 09:21] akelad commented on #233
just pass a folder to the `--data` flag instead of a single file

[2019-01-31 10:00] Ghostvv commented on #1660
this looks like a bug in `typing` library: https://github.com/python/typing/issues/266

[2019-01-31 10:03] pbplugge commented on #1658
Ok thank you, did not know that. Got it working now.

[2019-01-31 11:26] Husamx opened #1665 "Categorical slot fails when value is either yes or no"
**Rasa Core version**: 0.13.1

**Python version**: 3.6

**Operating system** (windows, osx, ...): windows

**Issue**: WARNING: rasa_core.slots:Categorical slot 'slot_name' is set to a value ('yes') that is not specified in the domain. Value will be ignored and the slot will behave as if no value is set. Make sure to add all values a categorical slot should store to the domain.

Training fails when

[2019-01-31 11:38] srikar96 opened #1666 "Issue while train rasa_core latest version"
**Rasa Core version**:
0.13.1
**Python version**:
3.5.2
**Operating system** (windows, osx, ...):
Linux (Ubuntu 16.04)
**Issue**:
When I try to train the latest rasa core version, I get the following error. When I switch back to the earlier version, it works fine. This error also appers when I start my custom action server.

**Traceback**:
[code]

[2019-01-31 11:57] Sujay-shetty commented on #233
@akelad but while calling api (http://<rasa_core_running_server>/webhook/rest/webhook), how we can specify from which model it has to return data

[2019-01-31 11:57] valdu02100 commented on #1660
Ok thanks... But on ubuntu I have 3.5.2 and can't upgrage to 3.5.3.
Can I upgradde to 3.6 or 3.7?

[2019-01-31 12:23] srikar96 commented on #1666
Upon searching, I found out that it might be an issue with the python version. Issue #1660 is similar to this. I'm closing this.

[2019-01-31 12:23] #1666 closed

[2019-01-31 13:43] Ghostvv commented on #1660
we support python 3.6

[2019-01-31 15:03] NathalieFouet commented on #1150
Hi everyone !

We have the same issue than @rahulroxx, but I have the version rasa-core 0.11.12. I need to install something else ?

Thanks !

[2019-01-31 19:04] foxjr opened #1669 "Rasa Docker container hangs when loading domain and models"
**Rasa Core version**: 0.12.3

**Python version**: 3.6.2

**Operating system** (windows, osx, ...): Docker ubuntu:17.10

**Issue**: On a particular system, my Rasa Docker container hangs whenever I perform the following:
[code]
There are no errors, and the file that contains the code being executed is reported as a running process.

Debugging methods revealed that the domain cannot be loaded; howe

[2019-02-01 09:08] akelad commented on #1669
Thanks for raising this issue, @EPedrotti  will get back to you about it soon.

[2019-02-01 09:10] akelad commented on #233
i'm not sure what you mean

[2019-02-01 09:10] akelad commented on #1665
This is a yaml thing, 'yes' = false and 'no' = true. There's nothing we can do about that really

[2019-02-01 09:10] #1665 closed

[2019-02-01 09:12] akelad commented on #1165
Hmm, that's just adding the name -- that's not going to enable cancelling as far as I can tell

[2019-02-01 09:18] Husamx commented on #1665
@akelad it used to work just fine with rasa core version 0.12 and lower, what changed?

[2019-02-01 11:20] Arghya999 commented on #1656
@Junitinn, there are no errors in the console where I am starting the action server.
As for the custom actions(action.ppy) code, it is very basic(just returning a sentence) and i am not able to wrap my head where exactly I am failing.
@erohmensing , it will be of real help if you can provide your input about what exactly I am doing wrong.

[2019-02-01 11:55] Sujay-shetty commented on #233
@akelad
Within a folder there will be multiple files containing different model information, while running rasa-core server I pass --data argument with folder name. So rasa-core server will be up and running.

Now to fetch information from server for the user query client will use webhook(http://<rasa_core_running_server>/webhook/rest/webhook) api.

How to configure from client for which model doe

[2019-02-01 13:18] #1509 closed

[2019-02-01 15:20] huberrom opened #1670 "Invalid syntax with rasa_core.train compare"
**Rasa Core version**: Version: 0.13.1

**Python version**: 3.6

**Operating system** : Windows (with linux subsystem)

**Issue**: I'm trying to compare two policy with my story, which are :
[code]

and

[code]

but when I launch the following command :
[code]

(training-data/data/stories containing all my story files), I have the following error :

[code]

Any idea why ? My domain.yml is fine sin

[2019-02-01 16:18] leonore commented on #1642
As an additional issue I have related to this, my `actions.py` file has an `import helpers` statement that imports my helpers python module that I use for my custom actions to communicate with a database. When the action server is launched with the docker-compose or on the command line outside the chat-interface directory, I get a `ModuleNotFoundError: No module named 'helpers'` error as I imagine

[2019-02-01 17:02] leonore commented on #1642
Thanks, that worked. It now launches the action server without the start --actions actions command. However, now I run into the error mentioned above with the import.

[2019-02-02 12:10] ricwo opened #1671 "Slack button replies aren't processed"
button replies in slack trigger a `chat.attachmentAction` but this never arrives at the slack input channel

[2019-02-03 09:39] shasha79 opened #1672 "Migration issue with events (from 0.11 to 0.12/0.13)"
**Rasa Core version**:
0.13.0
**Python version**:
3.5.3
**Operating system** (windows, osx, ...):
Ubuntu 16.04
**Issue**:
Exception is thrown when trackers are recovered from 0.11 version persistence:

Traceback (most recent call last):

  File "venv/lib/python3.5/site-packages/rasa_core/processor.py", line 342, in _run_action
    events = action.run(dispatcher, tracker, self.domain)

  File "venv

[2019-02-04 07:15] rjurney opened #1674 "No documentation on how to specify policies in a config file"
**Rasa Core version**: 0.13.1

**Python version**: 3.6.6

**Operating system** (windows, osx, ...): OS X 10.14.2

**Issue**: There is no documentation on how to provide policies via a configuration file or how to feed this file to an Agent.

I can't figure a way to achieve this code with a configuration file:

[code]
When I run this I get:
[code]
When I add a line to my chat domain, it has no effe

[2019-02-04 08:34] wochinge opened #1675 "add open api spec for NLG server"
Add an open API spec for the NLG server in the docs https://rasa.com/docs/core/responses/.

[2019-02-04 08:39] wochinge opened #1676 "update list of events in docs"
The list of events in https://rasa.com/docs/core/master/api/events/ misses the events
* StoryExported
* Form
* FormValidation
* ActionExecutionRejected

+ https://rasa.com/docs/core/master/api/events/#schedule-a-reminder should have a lower case boolean value for `kill_on_user_msg`

[2019-02-04 10:02] stacybot123 commented on #1527
@wochinge Did you got a chance to check this? Sorry for bothering you.

[2019-02-04 10:27] MetcalfeTom opened #1677 "Migration docs for rasa_core 0.12.x - > 0.13"
Detail what changes are necessary to upgrade

[2019-02-04 10:31] erohmensing opened #1678 "Update Training and Policies in docs"
Core docs still encourage you to pass policy parameters to agent.train(). These should be updated but I'm still working on implementing policy priority, so that should go in this update too.

[2019-02-04 10:35] akelad commented on #1674
@rjurney please take a look at our docs here: https://rasa.com/docs/core/policies/#configuring-polices-using-a-configuration-file

[2019-02-04 10:35] #1674 closed

[2019-02-04 10:36] #1277 closed

[2019-02-04 10:36] akelad commented on #1672
Thanks for raising this issue, @MetcalfeTom  will get back to you about it soon.

[2019-02-04 10:37] akelad commented on #1249
@tmbo i guess this isn't stale, but still relevant right?

[2019-02-04 10:38] akelad commented on #1670
Thanks for raising this issue, @wochinge will get back to you about it soon.

[2019-02-04 10:41] akelad commented on #233
You can't load multiple models with rasa_core right now. You'd have to launch a model server to do that. See more here: https://rasa.com/docs/nlu/master/persist/ https://rasa.com/docs/nlu/master/endpoint_configuration/

[2019-02-04 10:43] tmbo commented on #1249
yes

[2019-02-04 10:44] akelad commented on #1665
I don't think it did. If it did, then it may be that we used a different library

[2019-02-04 10:44] erohmensing commented on #1656
Hi @Arghya999,  would you mind providing a properly formatted verision of your `custom code :- (actions.py)` ?

[2019-02-04 11:07] Arghya999 commented on #1656
Hi @erohmensing , sorry i posted the unformatted version of the code.

formatted version :-

#action server code from here

from __future__ import absolute_import
from __future__ import division
from __future__ import unicode_literals

from rasa_core.domain import Domain
from rasa_core.trackers import EventVerbosity

import logging
logger = logging.getLogger(__name__)

import requests
import json

[2019-02-04 12:09] rjurney commented on #1674
@akelad I have. That is how I know this is missing: how to actually feed policies into an Agent is not in the documentation and I can't figure it out.

First I tried this, and it throws an error that specifying policies like this is no longer supported:

[code]

Note that now my domain file `config/chat_domain.yaml` includes:

[code]

The file has no effect and it still says:

[code]

@akelad What

[2019-02-04 12:12] Arghya999 commented on #1656
I've checked the debug logs using :-

python -m rasa_core.run -d models/dialogue -u models/nlu/default/current --debug

2019-02-04 17:32:49 ERROR    rasa_core.processor  - Encountered an exception while running action 'action_save_city_name'. Bot will continue, but the actions events are lost. Make sure to fix the exception in your custom code.
2019-02-04 17:32:49 DEBUG    rasa_core.processor  - T

[2019-02-04 12:55] Junitinn commented on #1656
As you can see the error is "you didn't configure an endpoint to run this custom action".

This is because you need to run rasa_core with this command:

python -m rasa_core.run -d models/dialogue -u models/nlu/default/current --endpoints endpoints.yml (I guess you have created the endpoints.yml before)

[2019-02-04 13:15] Arghya999 commented on #1656
Hi @Junitinn , I have created endpoints before and was passing it while running the bot(if you see the initial question which i've posted).

python bot.py --endpoints endpoints.yml  (bot.py was handling both nlu and rasa core logic)

But now i tried running rasa_core using your suggestion :- python -m rasa_core.run -d models/dialogue -u models/nlu/default/current --endpoints endpoints.yml

and it

[2019-02-04 13:18] Junitinn commented on #1656
Most of the times the error will be in actions.py. I hope you can solve it soon, come back when you need anything else.

[2019-02-04 13:37] gkniesel commented on #1165
The name can then be used to select and delete the corresponding job ID:

[code]

[2019-02-04 14:04] #1348 closed

[2019-02-04 16:42] MetcalfeTom opened #1680 "Throw a warning when unexpected arguments are passed with a policy config"
We can only accept certain `kwargs` when constructing a policy, so it would be nice for `rasa_core.train` to advise users when they pass an argument that can't be used to train

[2019-02-04 17:41] wochinge commented on #1670
Rasa core 0.13 does not support Python 2. Can you please try with Python 3?
Any rasa Core version below 0.13 still supports Python 2, if you rather would use Python 2.

[2019-02-04 18:10] #1662 closed

[2019-02-05 08:30] akelad commented on #1674
If you really want to pass your yaml file to the polices, you have to use the `config.load` function first, like it's done here https://github.com/RasaHQ/rasa_core/blob/master/rasa_core/train.py#L172

[2019-02-05 08:43] Ghostvv commented on #1165
@gkniesel do you mind creating a PR with `ReminderCancelled(name)` event that takes name of the reminder to cancel?

[2019-02-05 08:44] erohmensing commented on #1647
if i were to implement priority as a property of the `Policy` class, what should default values of the other policies that aren't in the `default_config` look like?

I'm thinking of keeping track of the priority separately in `probabilities_using_best_policy()`from the `max_confidence` so that we can compare the priorities if `max_confidence` is the same (i.e. `1.0`)

[2019-02-05 08:55] huberrom commented on #1670
Oh indeed, I tried with both version but I didn't notice that the error message wasn't the same.

The second one was a problem with multiple version of numpy, but now it's fixed thank you!
Sorry for the issue, but the error message wasn't really eloquent

[2019-02-05 08:56] Ghostvv commented on #1165
the PR with action name is merged

[2019-02-05 09:05] wochinge commented on #1670
glad it works now :+1:

[2019-02-05 09:05] #1670 closed

[2019-02-05 10:19] MetcalfeTom commented on #1672
Hi @shasha79,

Thanks for bringing this up.  We wouldn't want to obsolesce the old tracker stores because they likely contain useful information, so a pull request would be appreciated!

[2019-02-05 10:34] Ghostvv commented on #1165
the problem with above code is that it'll remove all the reminders with certain `action_name` for all the users

[2019-02-05 10:36] Ghostvv commented on #1165
I'd suggest to add `tracker.sender_id` into the name, and in the `ReminderCancelled` event check that it is correct when removing the job

[2019-02-05 14:19] wochinge commented on #1527
@stacybot123 I think I now finally now the problem. Since Rasa Core is started within a docker image, `localhost:5005` points to the Core container itself. What you have to do is either link the Core container with NLU or (since the NLU port is exposed) use the ip address of your docker host instead of `localhost`.

[code]

[2019-02-05 17:02] serdarbozoglan commented on #391
I have the same problem

from rasa_nlu.config import RasaNLUConfig

is not working. I am using the 0.14.3 version of rasa_nlu. What could be the problem

[2019-02-05 17:17] Ghostvv commented on #391
@serdarbozoglan it doesn't exist in `rasa_nlu` `0.14.3`

[2019-02-05 19:22] gkniesel commented on #1165
@Ghostvv thanks for the hint, I 'll create a new PR with a `ReminderCancelled(name)` event

[2019-02-05 19:35] cbruchi opened #1687 "interactive learning: An exception occurred while recording messages."
Hello I am trying to use the interactive learning but it always shuts down after the first utterance. Could you help me please? I used python -m rasa_core.train interactive -o models/dialogue -d domain.yml -c policy.yml -s stories.md --nlu models/current/nlu --endpoints endpoints.yml
with an without --skip_visualization

2019-02-05 20:26:40 INFO     rasa_core.training.interactive  - Rasa Core serv

[2019-02-05 20:01] stacybot123 commented on #1527
@wochinge  Now my endpoints.yml look like this
[code]
I am still getting the same error , instead of host='0.0.0.0' it now says host='127.0.0.1' :
[code]

[2019-02-06 08:22] wochinge commented on #1527
@netcarver This won't work since @stacybot123 does not run Rasa Core as part of docker-compose.
@stacybot123 `127.0.01` is not the ip of the host, but simply the localhost of the docker container.

You need the ip address from your host machine **from the perspective of your docker container.**

[2019-02-06 09:11] akelad commented on #1687
Thanks for raising this issue, @tmbo  will get back to you about it soon.

[2019-02-06 09:32] #1588 closed

[2019-02-06 09:45] stacybot123 commented on #1527
@wochinge  This resolved the issue. Thank you so much for your your help. Thank you for being patient.

[2019-02-06 09:45] #1527 closed

[2019-02-06 09:47] wochinge commented on #1527
@stacybot123 Which ip did you finally put in?
Great it is finally solved! 🚀  Sorry, that it took so long to solve that one.

[2019-02-06 10:26] gkniesel commented on #1165
@Ghostvv pls take a look at #1689 and #45

[2019-02-06 10:36] Ghostvv commented on #1165
thanks I'll take a look

[2019-02-06 10:58] tmbo commented on #1687
This might be quick to fix, but can't really try it out because I don't have a windows machine.

Do you mind installing rasa core from the `windows-encode-table` branch?
[code]

Afterwards, please try if the fix resolves your issue and let me know 🙂.

[2019-02-06 12:29] MetcalfeTom commented on #1677
Merged

[2019-02-06 12:29] #1677 closed

[2019-02-06 15:14] serdarbozoglan opened #1696 "Policy Error"
**Rasa Core version**:
o.13.2
**Python version**:
3.6
**Operating system** (windows, osx, ...):
Osx
**Issue**:
My code is bellow
training_data_file = './data/stories.md'
    model_path = './models/dialogue'

    agent = Agent('weather_domain.yml', policies=[MemoizationPolicy(max_history=3), fallback])
    training_data=agent.load_data(training_data_file)

    agent.train(training_data,

[2019-02-06 19:18] stacybot123 commented on #1527
@wochinge I got the IP of the docker host using the command:
docker inspect  container_id
I got two IP address , Gateway and IPAddress , IPAddress was 172.19.0.2 , which was not working , so I used the gateway ip address 172.19.0.1.
I tried accessing http://172.19.0.1:5000/parse?model=current&project=current&q=hello  in browser and this was working.

[2019-02-07 12:25] foxjr commented on #1669
Here's what worked:
1. Switched to Intel-based cluster from AMD-based one.
2. Installed official TensorFlow configuration for 1.10.0 (since the new cluster supports AVX instructions).
3. Retrained models using new setup.

Prior to those steps, we were unable to train a model in our development environments and then use those models (and even the machine-generated domain file) elsewhere, even in a

[2019-02-07 13:36] krishna-kimo opened #1698 "MongoDB Tracker Store Authentication Issue"
**Rasa Core version**: 0.13.1

**Python version**: 3.6.8

**Operating system** (windows, osx, ...): OSX

**Issue**: Tried connecting to MongoDB tracker-store using the format given in the docs but getting an Authentication Error. I am using MLab. There is no problem with the credentials as I am able to connect to the remote db using both MongoDB and Pymongo. I am not sure how to approach this prob

[2019-02-07 16:22] MHWithnail opened #1699 "train_online.py Issue with 'interactive'"
**Rasa Core version**: rasa-core                          0.11.1

**Python version**: 3.6.7

**Operating system** OSX

**Issue**:

/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_

[2019-02-07 17:08] wochinge opened #1700 "White / black list entities for intents"
Currently you can instruct Rasa Core do ignore entities for certain intents:

[code]

We should enable a more detailed configuration for that, so that you can exactly specify which entities should be considered by an intent and which should be ignored.

[2019-02-07 17:20] #1226 closed

[2019-02-07 17:38] imLew commented on #1596
made PR for this #1701

[2019-02-07 20:10] #1687 closed

[2019-02-08 01:16] aanchan opened #1703 "Feature Request: Restoring Rasa core apscheduler functionality when upgrading code on a CI/CD pipeline"
Related to forum post : https://forum.rasa.com/t/restore-py-rasa-and-rasa-with-ci-cd/2977

What does the feature need to do?
Work with apscheduler and the redistracker store to seamlessly restore rasa core during a CI/CD deploy. So this would allow code updates to say actions.py and domain.yml, but allow the application to keep the existing reminders going. There is apparently an issue with the ag

[2019-02-08 10:20] PrasannaGaneshu commented on #401
Hi,
Im facing an similar issue..

Im currently using Klein as an API wrapper and able to run RASA Core in my terminal. This is an example of one of the API which is working.

Here is the code snippet :

@app.route(’/api/v1/<sender_id>/validate’, methods=[‘GET’, ‘POST’])

def validate(self, request, sender_id):
    request.setHeader('Content-Type', 'application/json')
    request.setHeader('Access-

[2019-02-08 11:25] PrasannaGaneshu commented on #119
Hi im facing the similar issue...
Here is my server.py file..

`import logging
from rasa_core.agent import Agent
from rasa_core.interpreter import RasaNLUInterpreter
from rasa_core.channels.channel import CollectingOutputChannel
from flask import json
from klein import Klein
from pymongo import MongoClient
from pymongo import DESCENDING
import datetime
import urllib3
http=urllib3.PoolManager()
imp

[2019-02-08 12:30] shivam-ai commented on #556
If you are following Rasa Core documentation, there is line in stories.md file
  `  - form{"name": null}`
Need to remove this line. and it will work fine.

[2019-02-08 12:34] MetcalfeTom commented on #1550
I'm not sure, because you are using a Form, so the prediction _should_ be made by `FormPolicy`.  If you run the bot using the `--debug` flag, then you can see what slots are set and which policy predicts the action.

If you want to continue using the form, then the best plan of attack would be to run `action_set_profileid` in the `validate()` function of the form (and perhaps also use `dispatcher.

[2019-02-08 13:15] amn41 commented on #1574
thinking about it now @akelad I think it makes more sense if NLU lets you configure how the  confidence is calculated. wdyt?

[2019-02-08 17:49] linediconsine commented on #1629
HI All, this ticket is good to stay closed... In my debugging I figure out that the main problem was that action server was not started.

[2019-02-08 17:51] #1629 closed

[2019-02-09 09:59] antoinecomp opened #1706 "Servor error in interactive mode"
**Rasa Core version**:  Version: 0.12.0
**Python version**: Python 3.6.7
**Operating system**: windows

**Issue**:

I cloned a chatbot from GitHub and wanted to run it.
Yet, while using `train_online.py` I got a ValueError and an HTTPError:

    (chaenv36) C:\Users\antoi\Documents\Programming\Nathalie\7_2_2019\ChatbotRASA_Room-reservation>python train_online.py
    ...
    Epoch 99/100
    113/113

[2019-02-09 10:40] therealdeadly opened #1707 "[FEATURE]Sort predicted actions on probability score from HTTP API"
**Rasa Core version**: 0.12.4

**Python version**: 3.6

**Operating system** (windows, osx, ...): windows

**Issue**:  Currently, the API endpoint :-  `/conversations/{sender_id}/predict`  doesn't return the actions in the `score` array sorted on their score(probabilities) values.
Is it feasible to sort the array in the `server.predict()`,  just like in the `training.interactive._request_action_fr

[2019-02-09 10:49] therealdeadly commented on #1706
Instead of `--online`, try : `python -m rasa_core.train interactive -s data/babi_stories.md -o models/dialogue/ -d restaurant_domain.yml` .

[More info in the docs](https://rasa.com/docs/core/0.12.0/interactive_learning/)

[2019-02-11 04:04] serdarbozoglan opened #1708 "Issue with Execution of Dialogue_management_model.py file"
**Rasa Core version**:
0.14.2
**Python version**:
3.6
**Operating system** (windows, osx, ...):
OSX
**Issue**:
The execution of the file yields no response after Epoch training. I have been waiting to get a response but unfortunately, nothing happens in the terminal. What could be the problem

The code is:

[code]

[2019-02-11 09:06] akelad commented on #1708
Thanks for raising this issue, @erohmensing will get back to you about it soon.

[2019-02-11 09:07] akelad commented on #1706
@antoinecomp did that work for you?

[2019-02-11 09:07] akelad commented on #1707
Thanks for raising this issue, @tmbo  will get back to you about it soon.

[2019-02-11 09:09] akelad commented on #1703
Thanks for raising this issue, @tmbo  will get back to you about it soon.

[2019-02-11 09:12] akelad commented on #1699
Thanks for raising this issue, @imLew  will get back to you about it soon.

[2019-02-11 09:12] akelad commented on #1698
Thanks for raising this issue, @wochinge  will get back to you about it soon.

[2019-02-11 09:28] akelad commented on #1574
hmm, does it? surely NLU just returns the intent ranking and then you deal with that on the core side?

[2019-02-11 09:31] erohmensing commented on #1708
Hey @serdarbozoglan , would you mind formatting your code with indentation like you did the domain file so I can easily replicate it?

[2019-02-11 09:45] amn41 commented on #1574
I think a lot of the time `highest confidence` - `second highest confidence` is a better metric to use for "confidence" than the rank of the highest scoring intent. So even if not using Core, still makes sense to configure that. Wdyt ?

[2019-02-11 10:45] PrasannaGaneshu opened #1709 "'NoneType' object has no attribute 'handle_message'"
**Rasa Core version**: 0.12.3
   RASA NLU :: 0.13.8

**Python version**: 3.6.1

**Operating system** (windows, osx, ...):

**Issue**:  'NoneType' object has no attribute 'handle_message'

Below is code snippet for server.py file which is causing an error ::
[code]
Below is the error screenshot
![error_feb11 2](https://user-images.githubusercontent.com/38690247/52558376-354f6800-2e18-11e9-8b88-8e3b

[2019-02-11 10:46] wochinge commented on #1698
Which database are you using to authenticate on? `admin` or a different one? (https://docs.mongodb.com/manual/reference/program/mongo/#cmdoption-mongo-authenticationdatabase)
Is mongo using ssl?

[2019-02-11 12:02] Arghya999 opened #1711 "How to use the events caused by a custom action, to be shown as a reply from the bot in the conversation?"
**Rasa Core version**:0.12.3

**Python version**: Python 3.6.8

**Operating system** (windows, osx, ...):

**Issue**:Ubuntu 16.04

I have a custom action where i am querying a mysql database and fill the slots based on the retrieval query. The tracker got updated with the fetched values of the respective slots.(current tracker state)

2019-02-11 16:01:54 DEBUG rasa_core.processor - Received user m

[2019-02-11 12:22] antoinecomp commented on #1706
@akelad  @therealdeadly Almost !

First it told me I missed the config:

[code]

So I added the first config file I found and it seemed to work:

[code]

Yet, when writting _Hello_, telling me it had the wrong intent, it crashed:

[code]

[2019-02-11 13:00] krishna-kimo commented on #1698
Thanks for the reply. Presently I am trying with the Sandbox of Mlab which doesn't provide SSL. I tried using both the admin database as well as the app db as an authentication database.
Let me know what else can I check.

Thanks in advance

[2019-02-11 14:18] lucasR23 commented on #1128
I had the same issue.
i solved configuring the endpoint URL in the python script like that:

`from rasa_core.agent import Agent
from rasa_core.interpreter import RasaNLUInterpreter
from rasa_core.utils import EndpointConfig

core_endpoint_config = EndpointConfig(url='http://localhost:5055/webhook')

interpreter = RasaNLUInterpreter('models/current/nlu')
agent = Agent.load('models/current/dialogue'

[2019-02-11 14:39] serdarbozoglan commented on #1708
Hi ma'am, thank you very much for fast response. I updated the code format. Thank you very much

Sincerely,

Serdar

________________________________
From: Ella Rohm-Ensing <notifications@github.com>
Sent: Monday, February 11, 2019 04:31
To: RasaHQ/rasa_core
Cc: Serdar Bozoglan; Mention
Subject: Re: [RasaHQ/rasa_core] Issue with Execution of Dialogue_management_model.py file (#1708)

Hey @serdarbo

[2019-02-11 15:19] tmbo opened #1713 "Create an SQL tracker store"

[2019-02-11 15:20] antoinecomp opened #1714 "Internal Server Error as it seems to listen to another port than the one specified"
**Rasa Core version**:

rasa_core : 0.13.0

**Python version**:
3.6.7
**Operating system** (windows, osx, ...):
windows10

**Issue**:

I have action server running on port 5055 despite specifying in the [`train_interactive.py`](https://github.com/Swarnalathaa/chatbot/blob/master/chatbot_luxury/train_interactive.py) that `EndpointConfig(url="http://localhost:5055/webhook")`, when running `train_int

[2019-02-11 15:31] imLew commented on #1699
Interactive learning is done through `rasa_core.training.interactive` only since version 0.12.0.
To use this module just update to the latest version of rasa-core.

[2019-02-11 15:31] #1699 closed

[2019-02-11 16:24] DMPS commented on #1671
Here is the forum thread that started this issue: https://forum.rasa.com/t/slack-buttons-fail-silently/4318/7

Here is a PR that someone from the forum submitted to fix the bug: #1710.

Best of luck!

[2019-02-12 01:56] tcqiuyu opened #1715 "Immediate update in interactive learning"
**Rasa Core version**:
0.12.x

**Python version**:
3.6.5

**Operating system** (windows, osx, ...):
OSX

**Issue**:
Hello all, I am new to Rasa core and it is an interesting project. Currently I encountered a problem (or confusion) when I tried to use Interactive learning.

When I gave the feedback on the errors in interactive mode, next time when I ask the same question, it will still give the wr

[2019-02-12 06:36] lohitk27 opened #1716 "while running rasa_core im getting below issue"
Exception: Passing policy configuration parameters to `agent.train(...)` is not supported anymore. Specify parameters directly in the policy configuration instead. More info https://rasa.com/docs/core/migrations.html

Kindly help with above issue @akelad @tmbo .

[2019-02-12 07:15] Sankalikhitha commented on #552
how to get list of restaurants under particular location using Custom class to the user?Can anyone provide the functionality?

[2019-02-12 07:17] Sankalikhitha commented on #552
Please give sample examples for slotset, lookup tables and userdefined actions using lists?

[2019-02-12 08:29] akelad commented on #552
Please ask these kind of questions in our [forum](https://forum.rasa.com)

[2019-02-12 08:30] akelad commented on #1716
Please fill out the issue template and provide more details, the exception is pretty self explanatory -- what are you passing to agent.train?

**Rasa Core version**:

**Python version**:

**Operating system** (windows, osx, ...):

**Issue**:

**Content of domain file** (if used & relevant):
[code]

[2019-02-12 08:35] akelad commented on #1715
Try using the `--finetune` flag. Though eventually after you've exported your stories when you've finished interactive learning you'll have to retrain your model on them.
In future, please ask these kind of questions in our [forum](https://forum.rasa.com)

[2019-02-12 08:35] #1715 closed

[2019-02-12 08:43] akelad commented on #1714
Thanks for raising this issue, @erohmensing  will get back to you about it soon.

[2019-02-12 08:44] akelad commented on #1706
@EPedrotti can you take a look please?

[2019-02-12 08:45] akelad commented on #1711
Please ask these kind of questions in our [forum](https://forum.rasa.com)

[2019-02-12 08:45] #1711 closed

[2019-02-12 08:46] akelad commented on #1709
Thanks for raising this issue, @wochinge  will get back to you about it soon.

[2019-02-12 08:47] akelad commented on #1574
Yeah I def agree that `highest confidence - second highest confidence` is a better metric. That should also be applied to third highest confidence, because sometimes the top x are very similar

[2019-02-12 10:41] EPedrotti commented on #1706
@antoinecomp could you please share the content of your config file?

[2019-02-12 11:17] lohitk27 commented on #1716
@akelad  PFB,

rasa-core                          0.13.2
rasa-core-sdk                      0.12.1
rasa-nlu                           0.14.3
Python 3.6.4 ::  Anaconda, Inc.
Operating System : Windows
Issue : while running code I'm gtting follow error
RuntimeError: 'path' must be None or a list, not <class '_frozen_importlib_external._NamespacePath'>

[2019-02-12 14:59] wochinge commented on #1709
@PrasannaGaneshu What are you trying to do? Could you please give me a bit of context?

[2019-02-12 15:08] PrasannaGaneshu commented on #1709
Hi,I created a weather it similar to @Juste weatherbot tutorial using version 7 of RASA. However I happened to upgrade RASA to version 12,after which I'm getting empty response from this agent.

The code snippet in my previous reply is from server.py file

[2019-02-13 01:06] tcqiuyu commented on #1715
The problem is I asked this question on the forum first. But no one replies me....

[2019-02-13 01:06] tcqiuyu commented on #1715
The problem is I asked this question on the forum first. But no one replies me....

[2019-02-13 02:36] tcqiuyu commented on #1715
So could you please answer my another question in the forum linked above? Thank you very much for your help!

[2019-02-13 08:48] antoinecomp commented on #1706
@EPedrotti Sure ! Here is `config_spacy`:

[code]

[2019-02-13 09:02] wochinge commented on #1709
@PrasannaGaneshu Where are you creating the `agent` object in your code?
Please don't tag other people in the issue without reason. We will coordinate the issue handling and make sure that we help you to find out whether this a bug.

[2019-02-13 09:20] PrasannaGaneshu commented on #1709
Sorry for that!I have posted multiple times regarding this 'agent' issue but i could not get a proper response so happened to tag other people from RASA.

I've created the `agent` object in server.py file...Im attaching the file for reference..

`import logging
from rasa_core.agent import Agent
from rasa_core.interpreter import RasaNLUInterpreter
from rasa_core.channels.channel import CollectingOu

[2019-02-13 09:23] akelad commented on #1716
Please post your **full** error trace - this is a different error than you posted originally

[2019-02-13 13:32] leonore commented on #1642
Hey, I figured out where the error was coming from - `rasa_core_sdk` spins up the action server from the main directory and calls the actions files using `actions.actions` (/actions/actions.py) but my actions.py has a relative `import helpers` statement that doesn't work when being called from the main directory, which doesn't have a helpers.py file in it. I solved my issue by copying the helpers

[2019-02-13 13:32] #1642 closed

[2019-02-13 16:56] erohmensing commented on #1714
Hi @antoinecomp , I think your HTTP server error comes from the earlier `ERROR:rasa_core.server:Caught an exception while logging message.` Therefore the real error is probably the

I'm not sure how these shapes got mixed up (I cloned your repo and used it on my machine and it worked fine) -- what versions of `rasa_nlu` and `sklearn` are you running?

[2019-02-13 17:09] erohmensing commented on #1708
You say it yields no response after epoch training, can you show me all the output you get in the console from when you call the file? (Screenshot or quoted is fine)

[2019-02-13 17:19] serdarbozoglan commented on #1708
<img width="1298" alt="screen shot 2019-02-13 at 12 16 50 pm" src="https://user-images.githubusercontent.com/36940009/52730506-8e8ad900-2f89-11e9-9d2c-f5385a2a6f43.png">

This is the screenshot. After epoch 50, it does nothing. Thank you

[2019-02-13 18:27] naoko opened #1720 "Slot name with "illegal character" should be flagged?"
**Rasa Core version**:
0.12.1 (but the master has the same issue)

**Python version**:
3.6.6

**Operating system** (windows, osx, ...):
Linux

**Issue**:
I had slot name with dot e.g. `my_company_name.special_slot`
this works as long as it is not used in a template but because the substitute is done with python built-in `format`, dot notation won't work.

https://github.com/RasaHQ/rasa_core/blob/m

[2019-02-13 20:42] ricwo opened #1721 "RasaChat not returning messages"
`RasaChat` should return `jsonify(collector.messages)` which is always an empty list

[2019-02-13 20:43] ricwo opened #1722 "Report loaded model"
The name of the currently loaded model should be reported at the `/status` endpoint

[2019-02-13 23:23] antoinecomp commented on #1714
@erohmensing Yes,

[code]

Thank you for your help !

[2019-02-14 08:55] akelad commented on #1720
Thanks for raising this issue, @wochinge  will get back to you about it soon.

[2019-02-14 10:03] EPedrotti commented on #1706
@antoinecomp I cannot reproduce this error. It is possible that you are using incompatible version of core and nlu. Could you please update both core and nlu to the latest version? Also you config file should be a `.yml` file. You can find ho to configure your pipeline here [https://rasa.com/docs/nlu/choosing_pipeline/#pre-configured-pipelines](https://rasa.com/docs/nlu/choosing_pipeline/#pre-conf

[2019-02-14 10:42] wochinge commented on #1709
1. Is there a exception and what does it say for this part

[code]

2. May I ask what you are trying to do? So why are you writing the custom code if you can also use the command line interface?

3. You can format code blocks with ``` (in the line before and after the code block). A single ` is more for inline formatting

[2019-02-14 10:53] wochinge commented on #1720
Thanks @naoko , especially for the super detailed description including suggestions for fixes 🚀

[2019-02-14 10:59] antoinecomp commented on #1706
@EPedrotti Yes, sorry here is `nlu_config`:

[code]
I ran:
`>python -m rasa_core.train interactive -s data/stories.md -o models/dialogue/ -d room_domain.yml -c nlu_config.yml`

And it worked even if it seems different from before (from Justina's video).

Should I deduce that I either have a problem with `train_online.py` or that now we should rather use the `python -m rasa_core.train interactive .

[2019-02-14 13:38] naoko commented on #1720
@wochinge , more than happy to work on but I would like to know which approach rasa team would like to take? should slot name to be restrictive so that it won't process after reading domain file or should the tag replacement be updated?

[2019-02-14 16:31] wochinge opened #1723 "Support Unfeaturized Entities"
Recognized entities can lead to prediction errors of Core although they might not be important for a current intent at all.

Currently, intents can only ignore all intents, but not only ignore a certain subset of intents.

Hence, it be nice if it would be possible to
- ignore certain entities for certain intents
- or mark certain entities as unfeaturized

[2019-02-14 17:01] antoinecomp opened #1724 "No matching distribution found for robot.libraries when launching action server"
**Rasa Core version**:

rasa-core                 0.12.0
rasa-core-sdk             0.12.1

**Python version**: 3.6.7

**Operating system** (windows, osx, ...): Windows10

**Issue**:

When launching a an action server for [a Rasa chatbot](https://github.com/NaThemis/ChatbotRASA_Room-reservation) by running `python -m rasa_core_sdk.endpoint --actions actions` it told me there were a `ModuleNotFoundE

[2019-02-14 17:13] wochinge commented on #1720
@naoko Awesome! I discuss it with the team and come back to you :+1:

[2019-02-14 17:27] wochinge commented on #1720
@naoko Best would probably be to fix the string interpolation as it is described here: https://stackoverflow.com/questions/7934620/python-dots-in-the-name-of-variable-in-a-format-string#comment9695339_7934969 . What do you think?

[2019-02-14 17:31] naoko commented on #1720
yeah, I agree, I was looking at this earlier myself too. okay, I should be able to find time within a week or two to get this going.

[2019-02-14 17:37] wochinge commented on #1720
Super nice 🚀 Thanks! Let me know if you have questions

[2019-02-14 17:40] wochinge commented on #1698
@krishna-kimo

I guess you are restricted to certain database names on mlab, right? Did you try setting it to you specific one?

[2019-02-14 21:36] tmbo commented on #1703
I think this is quite valuable, but don't have time to look at it atm.

As said in the forum post, right now this it doesn’t work to restart Core and keep the scheduled reminders. We could think about using a persistent job store for the apscheduler, but this comes with some restrictions (e.g. we can not call the reminder method on the agent, as that would pickle the whole agent which is not a goo

[2019-02-14 21:36] tmbo commented on #1707
yes, I think that is a great ida :+1:

[2019-02-14 22:05] josebrwn commented on #1184
Same thing happens to us. What is the purpose of saving the NLU data twice, to different files? What is the difference between "learned data" and "data learned in this session"? Why in the first save does it save an empty file every time (rather than merging)? Why can't the agent find the nlu.md file that it's been using all along? Why does the first save create an empty file, and the second save

[2019-02-15 04:55] PrasannaGaneshu commented on #1709
1.We are not getting any exception.
2 .I've created a chat bot using version 7 of RASA, It worked perfectly fine.I tried to upgrade RASA to Version 13 (rasa-nlu version: 0.14.1 ,rasa-core version: 0.13.0)
I wanted to migrate it to version 13 with less changes possible. Ive created a frontend UI for which Rest API's needs to be exposed.The custom code is already written while I was working with Ver

[2019-02-15 05:59] therealdeadly commented on #1707
Thanks @tmbo!  Can I work on this and should I make a pull request before that?

[2019-02-15 06:36] tmbo commented on #1707
Yes sure - let me know if you need any help.

[2019-02-15 08:34] akelad commented on #1724
This seems to be an issue related to your code rather than Rasa, so I'm gonna close this issue.
My best guess is the library robot doesn't have a module libraries, double check you've got the correct import in your custom action

[2019-02-15 08:34] #1724 closed

[2019-02-15 08:44] wochinge commented on #1709
@PrasannaGaneshu
1) I recommend to use the [REST channel] (https://rasa.com/docs/core/connectors/#rest-channels) of Rasa Core in your UI instead of rewriting the endpoints.

2) Did you retrain NLU? Seems you need more training data

3) Since this is not a bug within Rasa Core / NLU, I close this issue now. Please feel welcome to get help in the [community forum](https://forum.rasa.com).

[2019-02-15 08:44] #1709 closed

[2019-02-15 08:59] therealdeadly commented on #1707
Alright, on it. Thanks, will let you know

[2019-02-15 14:28] antoinecomp commented on #1706
I added policies in nlu_config.yml:

[code]

And now it is able to recognize the first intent and to suggest and action but it is not able to access it. Indeed I get this error message: `Can not access action 'None', as that name is not a registered action for this domain.` even if I told him to select the given action.

[code]

The repository is [there](https://github.com/NathalieFouet/Chatbot_RA

[2019-02-15 14:38] mauricedoepke opened #1725 "Interactive learning mode spams the nlu file with unneccesary entities and might even corrupt it"
**Rasa Core version**: 0.13.2
**Python version**:  3.6.8
**Operating system**: windows

When exporting data from the interactive learning mode, rasa exports entities that are recognized by pretrained/non trainable extractors(duckling, spacy) to the nlu file and thus confuses extractors that rely on this data, like ner_crf

Example: `[Nächsten Dienstag](MISC)[um 11 Uhr](time:2019-02-19T11:00:00.000

[2019-02-15 17:35] huberrom opened #1726 "Checkpoints warning/errors with train compare"
**Rasa Core version**: 13.0

**Python version**: 3.6

I have stories with checkpoints, and it doesn't cause a problem during training, but I'm currently comparing two embedding policy and I got the following errors :

[code]

For example, the first warning comes from this story :

[code]

This error doesn't occured for the first two rounds (0 and 5% exclusion) and begin at the third (25% exclusion

[2019-02-15 19:11] mauricedoepke commented on #1723
Aditionally improving the docs regarding entity featurization would be good. I couldn't find anywhere how they are featurized.
Are they featurized like text slots (being filled/not filled) or more like the categorgal slot, taking the actual content into account?

[2019-02-15 19:50] mauricedoepke commented on #1723
Good news, the logic for this is in 'domain.py' at line 405

`        for entity in tracker.latest_message.entities:
            intent_name = tracker.latest_message.intent.get("name")
            intent_config = self.intent_config(intent_name)
            should_use_entity = intent_config.get('use_entities', True)
            if should_use_entity:
                if "entity" in entity:

[2019-02-16 20:27] huberrom commented on #1726
My training compare end up with this error :

[code]

[2019-02-17 00:24] mauricedoepke opened #1728 "Correcting the intent in interactive learning mode removes additional entity information"
**Rasa Core version**: 0.13.2
**Python version**: 3.6.8
**Operating system**: windows

When one corrects the intent in the interactive learning mode, but leaves the entities untouched they get altered.

Look at this example:
`Is the NLU classification for '[Am Mittwoch](time:2019-02-20T00:00:00.000+01:00)' with intent 'choose_appointment'`

The date was recognized by duckling. Without altering the

[2019-02-17 10:33] #1306 closed

[2019-02-17 13:05] jcollas commented on #1355
A PR is forthcoming.

[2019-02-17 19:44] smn-snkl commented on #1606
Just confirming this is still happening.

[2019-02-17 22:14] #626 closed

[2019-02-18 05:36] Rajskc opened #1729 "Rasa core training error"
**Rasa Core version**: 0.11.3

**Python version**: 3.6.4

**Operating system** (windows, osx, ...): windows

**Issue**:  I am getting the following error when I am trying to train. It says the parser is not able to get the key, what does the parser do?:
[code]

**Content of domain file** (if used & relevant):
[code]

[2019-02-18 08:36] akelad commented on #1729
Thanks for raising this issue, @erohmensing  will get back to you about it soon.

[2019-02-18 08:39] akelad commented on #1606
@tmbo any ideas what might be going wrong here?

[2019-02-18 08:40] akelad commented on #1367
@Ghostvv is this still a bug?

[2019-02-18 08:42] akelad commented on #1728
Thanks for raising this issue, @wochinge  will get back to you about it soon.

[2019-02-18 08:42] akelad commented on #1726
Thanks for raising this issue, @Ghostvv will get back to you about it soon.

[2019-02-18 08:44] akelad commented on #1725
Is this not a duplicate of #1728?

[2019-02-18 09:12] Ghostvv commented on #1367
let's call it a design feature

[2019-02-18 09:12] #1367 closed

[2019-02-18 09:14] Ghostvv commented on #1726
this happens because exclusion happens on the written story blocks level, rather than generated full story trackers

[2019-02-18 09:29] huberrom commented on #1726
So there is no way to use both checkpoints and rasa_core.train compare with exclusion ?

[2019-02-18 09:34] tmbo commented on #1606
I guess there is a bug in the exporting code of the interactive learning script - def something we need to fix, but I didn't have time to look into it.

[2019-02-18 09:50] Ghostvv commented on #1726
You can generate training trackers from full stories and then write a script to export these trackers as story file

[2019-02-18 09:59] huberrom commented on #1726
Hum I see, I'll try to find how to generate those trackers. The error comes from this too ?

Another issue I have with the train compare, is that when I try to compare two embedding policy with differents parameters, the second policy will override the first model because it has the same name :

[code]

I tried with the following policies :

[code]

[code]

I'm new with the embedding policy, so I

[2019-02-18 10:29] erohmensing commented on #1729
Glad you found your error!

[2019-02-18 10:55] erohmensing commented on #1708
There seems to be something going wrong in your policies -- you specify 20 epochs for `KerasPolicy` and yet it's still training on 50. Are you currently seeing logger information in your console, for example something like this? : `rasa_core.policies.keras_policy  - Fitting model with 149 total samples and a validation split of 0.2`
If so, if you are not seeing `INFO     rasa_core.policies.keras_p

[2019-02-18 11:59] PrasannaGaneshu commented on #119
@dtfiedler, @tmbo , @schafferer
Ive tried this approach, and it just returns an empty list as response. The bot works just fine from the command line. I see the response gets stored in the tracker object..But im getting empty response when im trying to hit it through postman..
Can someone help me out with this..
Here is my error_screenshot in postman:
![error_postman](https://user-images.githubuse

[2019-02-18 12:07] PrasannaGaneshu commented on #1709
@wochinge ,
My issue is not solved....
1.I want to migrate from version 7 to version 13 of RASA which less changes possible.So kept the channel as it is.
2.I happened to re-train NLU.I have close to 50 examples for the 3 intents i used in my bot.
3.I happened to resolve a minor issue(User_id not getting captured in the slot) caused due to lack of proper training.

My endpoint server is up and runn

[2019-02-18 13:37] Rajskc opened #1730 "Rasa Core Training Error"
**Rasa Core version**: 0.11.3

**Python version**: 3.6.4

**Operating system** (windows, osx, ...): windows

**Issue**:  I am getting the following error during training the bot. I haven't used nlg and where can we specify these parameters to the bot. Kindly help me with this. Thanks.

Traceback (most recent call last):
  File "C:\Users\M Phanidhar\Anaconda3\lib\runpy.py", line 193, in _run_module

[2019-02-18 14:21] krishna-kimo commented on #1698
@wochinge  Thanks for the reply

I had checked the documentation but couldn't find anything wrong with the way I configured the endpoints.yml . I moved my backend from Mlab to MongoDB Atlas and with the new configuration, I was able to get it to work. I hadn't gone through in detail but the URL is different for different MongoDB versions and maybe I need to double check that. Thanks for the suppor

[2019-02-18 15:44] lauraperge opened #1731 "Unexpected answer crashes FormAction"
**Rasa Core version**: 0.13.2

**Python version**: 3.6.8

**Operating system** (windows, osx, ...):Windows 10, 64

**Issue**:

I have a FormAction **changepassword** and I have a (simplified) conversation as follows:

[code]
So, the bot gets an unexpected answer from the user, because it awaits a **confirmrequest** or **denyrequest** but it receives instead a new email address for whatever reason

[2019-02-18 17:08] Ghostvv commented on #1726
yes, it is a known issue, I did temporally fix here: https://github.com/RasaHQ/rasa_core/blob/94c130320f992b9c6583b72fad5ef07374193f52/rasa_core/train.py#L231

you'll need to modify `evaluate` script from this branch as well

[2019-02-18 17:09] huberrom commented on #1726
Ok thank you for your time !

[2019-02-18 17:09] #1726 closed

[2019-02-18 17:09] serdarbozoglan commented on #1708
Hi,

my mistake for rasa_core it is 0.13. sorry. in KerasPlociy epoch number is defined as 50 rather than 20. but definitely, I will check the suggestions. Thans

[2019-02-18 17:16] erohmensing commented on #1708
Did you change the `KerasPolicy` file manually? You should be able to do any configuration you like within your policy declaration, e.g. in this case, within the initialization of your agent where you include the policies you want to use and their parameters.

[2019-02-18 17:54] wochinge commented on #1698
@krishna-kimo Great that you solved it. Super strange that it does not work with Mlab though 🤔

[2019-02-18 17:56] erohmensing commented on #1714
@antoinecomp can you try re-training your nlu model and running it again? It's possible that your spacy models are different between your trained model and the one you are running. Do you know if you've downloaded `en_core_web_md`? More info here: https://rasa.com/docs/nlu/master/installation/#great-for-getting-started-spacy-sklearn
<img width="848" alt="screen shot 2019-02-18 at 18 54 42" src="ht

[2019-02-18 18:16] mauricedoepke commented on #1725
No, they both have similar origins (entities in interactive training mode) but have different consequences and different possible solutions.

[2019-02-18 18:41] wochinge commented on #1728
@mauricedoepke You are right. However the additional fields are not considered by Rasa Core anyway, so that isn't a problem. Do you need these fields in the custom actions?

[2019-02-18 18:43] wochinge commented on #245
@tmbo I guess we can close this one right?

[2019-02-18 18:44] #278 closed

[2019-02-18 18:44] wochinge commented on #278
this is meanwhile included

[2019-02-18 18:46] wochinge opened #1732 "Interactive Learning: Only include ner_crf entities in nlu export by including the extractor field in each entity at NLU"
At the end of interactive learning you can save stories and NLU data which you collected during the training. However, the exported NLU data should only include entity annotation for entities which were
* extracted by ner_crf
* manually annotated by the user

[2019-02-18 23:19] antoinecomp commented on #1714
@erohmensing Yes, I installed it. I had an issue with train_init.py before `TypeError: fit() got multiple values for keyword argument 'epochs'`. So I followed [this answer](https://stackoverflow.com/questions/53294681/rasa-chatbot-framework-gives-error-while-training-fit-got-multiple-values-for) which basically modifies keras_policy.py by getting rid of epochs and batch_size and training was ok.

[2019-02-19 05:35] krishna-kimo commented on #1698
@wochinge
A suggestion I would like put forward is, in the documentation of the MongoDB tracker-store 'auth_store' is not mentioned as a parameter. It would be beneficial if it can be added to the list of parameters as pymongo accepts 'authStore' and users might be confused by that. I figured it out only I went through the code.

Thanks in advance

[2019-02-19 06:25] vax521 opened #1734 "Migration issue with events (from 0.9.0 to 0.13.2)"
**Rasa Core version**:
0.13.2
**Python version**:
3.6.2
**Operating system** (windows, osx, ...):
windows
**Issue**:
I run a demo from web writen by rasa_core 0.9.0, the code is as follows:
[code]
it reports a bug:
ImportError: cannot import name 'ConsoleInputChannel'

By reading the new docs of rasa_core 0.13.2, I found  the  function  agent.handle_channel in rasa_core version 0.9.0 was changed t

[2019-02-19 09:55] GavinMoreYoung opened #1736 "ImportError: cannot import name 'Layer'"
**Rasa Core version**:0.13.2

**Python version**: python3.6.8

**Operating system** (windows, osx, ...):win10

**Issue**:
Traceback (most recent call last):
  File "C:/Users/Admin/Desktop/building-chatbots-with-python-master/Chapter IV/Chapter IV Code horoscope_bot/horoscope_bot/train_initialize.py", line 27, in <module>
    validation_split=0.2
  File "D:\Python\lib\site-packages\rasa_core\agent.

[2019-02-19 10:09] GavinMoreYoung commented on #1736
this is study code:
from __future__ import absolute_import
from __future__ import division
from __future__ import print_function
from __future__ import unicode_literals

from rasa_core import utils
from rasa_core.agent import Agent
from rasa_core.policies.keras_policy import KerasPolicy
from rasa_core.policies.memoization import MemoizationPolicy

if __name__ == '__main__':
    utils.configure_col

[2019-02-19 10:19] akelad commented on #1736
Thanks for raising this issue, @Ghostvv  will get back to you about it soon.

[2019-02-19 10:20] akelad commented on #1734
Thanks for raising this issue, @wochinge  will get back to you about it soon.

[2019-02-19 10:21] lauraperge commented on #1731
Alright, it seems to be because of the [new deactivation implementation](https://github.com/RasaHQ/rasa_core_sdk/blob/8e1f7048c005f96588d3752d376501e62c95f4de/rasa_core_sdk/forms.py#L372) of FormAction.

The below implementation in **request_next_slot()** works (basically I just removed the self.deactivate()):
[code]

Now it works just as expected. I close this issue for now.

[2019-02-19 10:21] #1731 closed

[2019-02-19 10:23] akelad commented on #1725
@wochinge does your newly created issue cover this?

[2019-02-19 10:31] arunmiet88 commented on #401
ModuleNotFoundError: No module named 'rasa_core.policies.fallback'
where i used
rasa==0.1.1
rasa-core==0.9.0a2
rasa-core-sdk==0.12.1
rasa-nlu==0.14.1

When i run my chatbot then i face this problem

[2019-02-19 10:32] erohmensing commented on #1714
Sorry, i'm not sure I was clear. `train_init.py` will just train your core model, have you retrained your nlu model using `nlu_model.py`?

[2019-02-19 10:32] tmbo commented on #401
You need to update to a newer version of core AND use select the version of the software you are using in the documentation. (also, please don't crosspost on existing issues.)

[2019-02-19 10:38] erohmensing commented on #1714
Try that first -- if that doesn't work, would you try changing the pipeline to `tensorflow_embedding` instead of `spacy_sklearn` (this will require installing the pipeline if you've only installed spacy -- more information again at the link from above) -- That can help us figure out if its a sklearn/spacy problem :)

[2019-02-19 10:40] Ghostvv commented on #1736
what version of tensorflow is installed?
Can you try,

[2019-02-19 10:42] akelad commented on #1730
What command are you using to train the bot?

[2019-02-19 10:42] GavinMoreYoung commented on #1736
tensorboard         1.12.2
tensorflow          1.12.0

[2019-02-19 10:45] Ghostvv commented on #1736
`from tensorflow.keras.layers import Layer` does it work?

[2019-02-19 10:48] GavinMoreYoung commented on #1736
this does not work .
this is pip list display:
absl-py             0.7.0
APScheduler         3.5.3
asn1crypto          0.24.0
astor               0.7.1
attrs               18.2.0
Automat             0.7.0
boto3               1.9.97
botocore            1.12.97
certifi             2018.11.29
cffi                1.12.1
chardet             3.0.4
Click               7.0
cloudpickle         0.6.1
colora

[2019-02-19 11:01] Rajskc commented on #1730
Thanks for your reply. Here is the command I am using:

python -m rasa_core.train -d domain.yml -s data/stories.md -o models/dialogue -c config.yml

[2019-02-19 11:20] Ghostvv commented on #1736
This is the issue with your tensorflow. I think there is something wrong with your tensorflow installatio, otherwise you should try tensorflow forum

[2019-02-19 11:20] #1736 closed

[2019-02-19 11:26] GavinMoreYoung commented on #1736
thanks for your reply and help.

[2019-02-19 11:27] Ghostvv commented on #1736
I'm sorry, I checked locally I have tensorflow 1.12.0, and from tensorflow.keras.layers import Layer works for me. Unfortunately, I cannot do anything more here

[2019-02-19 11:28] Ghostvv commented on #1736
try looking here: https://github.com/tensorflow/tensorflow/issues/24847

[2019-02-19 11:31] GavinMoreYoung commented on #1736
i will try this way,thank you very much.

[2019-02-19 12:10] RanaMostafaAbdElMohsen commented on #1698
I managed to make it work
 tracker_store:
store_type:mongod
url: dsXXXX.mlab.com:XXXX
db: databasename
username: username
password: password
auth_source: databasename

[2019-02-19 12:20] Swarnalathaa opened #1737 "ERROR:rasa_core.training.interactive:An exception occurred while recording messages."
**Rasa Core version**:
rasa-nlu ==0.14.1
rasa-coe == 0.13.0
rasa-core-sdk==0.12.1
**Python version**: 3.6.8(64bit)

**Operating system** (windows, osx, ...):windows

**Issue**:
I try to train the model online but everytime i get the following error

Chat History

 #    Bot                                                                       You
────────────────────────────────────────────────────

[2019-02-19 12:23] noufalsalim opened #1738 "Is rasa_core stories only support .md file?"
**Rasa Core version**: '0.12.4'

**Python version**: 3.6.8

**Operating system** (windows, osx, ...): Ubuntu 16.04 xenial

**Issue**: Is rasa_core stories only support .md file?

**Content of domain file** (if used & relevant):
[code]

[2019-02-19 12:59] mauricedoepke commented on #1728
Yes I do.
I don't think it is a problem that needs to be immediately addressed as it only occurs in this special case. But it would be nice to have this fixed in some future version of the interactive learning mode.
Until then a note in the docs about that would be nice.

[2019-02-19 13:01] mauricedoepke commented on #1723
@wochinge What do you think about that? I need this and would implement this if you are fine with my proposal.

[2019-02-19 13:01] mauricedoepke commented on #1725
It does, this issue can be closed.

[2019-02-19 13:48] swapbagal1 commented on #1716
I am facing the same issue while trying to training dialogue management model online for a simple weather chatbot:
**>python train_init.py**
:0: UserWarning: You do not have a working installation of the service_identity module: 'No module named 'service_identity''.  Please install it from <https://pypi.python.org/pypi/service_identity> and make sure all of its dependencies are satisfied.  Without

[2019-02-19 14:26] #245 closed

[2019-02-19 14:38] bamania8 opened #1739 "TypeError: Object of type generator is not JSON serializable"
**Rasa Core version**:0.12.4

**Python version**: Python 3.6.7

**Operating system** (windows, osx, ...):Ubuntu 18.04.1 LTS

**Issue**:
___________________________________________________________________________________
? What is the next action of the bot?  0.00 action_my_custom_action
Thanks! The bot will now run action_my_custom_action.

DEBUG:rasa_core_sdk.executor:Received request to run 'act

[2019-02-19 14:49] #1370 closed

[2019-02-19 15:27] bamania8 commented on #1739
action.py
------------------------------
from rasa_core_sdk import Action
from rasa_core_sdk.events import SlotSet

class MyCustomAction(Action):
  def name(self):
    return "action_my_custom_action"

  def run(self, dispatcher, tracker, domain):
    number_to_be_saved = tracker.get_latest_entity_values("CARDINAL")
    print (number_to_be_saved)    # maybe do some post processing here
    return

[2019-02-19 15:39] bamania8 commented on #1739
Mark it resolved...!!

I used ,
value = next(tracker.get_latest_entity_values(entity_name), None)

[2019-02-19 15:39] #1739 closed

[2019-02-19 18:07] #1725 closed

[2019-02-20 03:25] swapbagal1 commented on #1716
@lohitk27 @akelad
Solved the problem by editing train_init.py as follows:
from __future__ import absolute_import
from __future__ import division
from __future__ import unicode_literals

import logging

from rasa_core.agent import Agent
from rasa_core.policies.keras_policy import KerasPolicy
from rasa_core.policies.memoization import MemoizationPolicy

if __name__ == '__main__':
        logging.bas

[2019-02-20 05:53] Arghya999 opened #1741 "ruamel.yaml.scanner.ScannerError: while scanning a simple key in "<unicode string>", line 7, column 3 could not find expected ':' in "<unicode string>", line 8, column 3"
**Rasa Core version**:0.12.3

**Python version**: Python 3.6.8

**Operating system** (windows, osx, ...):Ubuntu 16.04

**Issue**:  python -m rasa_core.run -d models/dialogue -u models/nlu/default/current --endpoints endpoints.yml --debug --enable_api
2019-02-20 10:58:16 INFO     root  - Rasa process starting
Traceback (most recent call last):
  File "/home/arghya/anaconda3/envs/myenv/lib/python3.6

[2019-02-20 07:52] Arghya999 commented on #1741
%YAML 1.1
---
actions:
- utter_CEO_info
- utter_happy
- action_get_model_config
- action_save_city_name
- utter_Service_Center_OR_Factory
- utter_Oppo_shop_location
- action_slot_reset
- utter_CustomerCare_info
- utter_greet
- utter_about_OPPO
- utter_goodbye
- utter_brand_info
- utter_unclear
- utter_Official_Website
- utter_more_info
- utter_model_name_lookout
- utter_check_another_one
- action_

[2019-02-20 08:49] akelad commented on #1741
Thanks for raising this issue, @erohmensing  will get back to you about it soon.

[2019-02-20 08:50] V-I-C-T-O-R opened #1742 "ImportError: No module named 'engineio.async_tornado'"
**Rasa Core version**:
rasa core github code
**Python version**:
3.5
**Operating system** (windows, osx, ...):
linux
**Issue**:
when i want to train core dialog, throw a error :
[code]
please help me ,thanks

[2019-02-20 08:54] akelad commented on #1738
yes it is
In future, please ask these kind of questions in our [forum](https://forum.rasa.com)

[2019-02-20 08:54] #1738 closed

[2019-02-20 08:54] akelad commented on #1737
Thanks for raising this issue, @MetcalfeTom  will get back to you about it soon.

[2019-02-20 08:55] #1698 closed

[2019-02-20 08:56] akelad commented on #1730
you should pass the endpoints file with `--endpoints endpoints.yml`

[2019-02-20 09:06] Arghya999 commented on #1741
[domain_new.txt](https://github.com/RasaHQ/rasa_core/files/2883792/domain_new.txt)

[2019-02-20 09:23] erohmensing commented on #1741
Hi @Arghya999. It's not your `domain.yml` that's getting errored, it's your `endpoint.yml` (you'll notice in the Traceback that the issue is happening in `read_endpoint_config`). If you put your `endpoint.yml` through yamllint, you get the same error. The issue seems to be not having spaces after your colons for `username` and `password`. This fix should work:

Content of endpoint.yml
[code]

P.S.

[2019-02-20 10:03] Arghya999 commented on #1741
Hi @erohmensing , I missed that completely.Thanks a lot for helping me out.

[2019-02-20 10:07] erohmensing commented on #1741
Happy to help!

[2019-02-20 10:07] #1741 closed

[2019-02-20 11:40] #1341 closed

[2019-02-20 13:04] Rajskc commented on #1730
I have included endpoints in my file but still I am getting the same:

Command to train:  python -m rasa_core.train -d lemontree_domain.yml -s data/stories.md -o models/current/dialogue -c config.yml  --endpoints endpoints.yml

Traceback (most recent call last):
  File "C:\Users\M Phanidhar\Anaconda3\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "C:\Users\M Phani

[2019-02-20 13:37] MetcalfeTom commented on #1737
Hi @Swarnalathaa,

I believe this is because the intent in your second button is not formatted properly - please ensure the payload is mapped to `(/inform{"category":"Market"})`.  At the moment it seems you are missing the `/` character and returning the intent in the button text.

If this fixes the issue, please come back here and leave a comment because we can also prevent this error in future

[2019-02-20 14:06] #1354 closed

[2019-02-20 14:36] Swarnalathaa commented on #1737
Hi @MetcalfeTom ,
Thanks for your reply.
No, it didn't work.
 I still get this error even if i remove the button option completely from the bot.
Following screenshot is from running bot after removing button option, but still i get the same kind of error

![bot](https://user-images.githubusercontent.com/34007219/53098952-11310c80-3525-11e9-88b1-77872658aaac.PNG)

[2019-02-20 15:32] akelad commented on #1742
@V-I-C-T-O-R which version of rasa core are you using? because this shouldn't happen in master, and it was fixed in the 0.12.4 release

[2019-02-21 04:49] neslieang opened #1744 "I am also facing this issue and I've rasa-nlu==0.14.0"
I am also facing this issue and I've rasa-nlu==0.14.0
rasa-core                 0.13.0                    <pip>
rasa-core-sdk             0.12.1                    <pip>
rasa-nlu                  0.14.1                    <pip>

[code]
_Originally posted by @gaurvipul in https://github.com/RasaHQ/rasa_core/issues/1499#issuecomment-457835236_

[2019-02-21 05:36] SameerChatbot opened #1745 "Getting issue while importing agent from rasa_core.agent"
**Rasa Core version**:
rasa_core==0.13.2

**Python version**:
Python 3.6.7

**Operating system** (windows, osx, ...):
Ubuntu (running on https://colab.research.google.com)

**Issue**:
I am getting issue while trying to import Agent from rasa_core. Attaching jupyter notebook for more details.

`
import sys
python = sys.executable

!python --version

!{python} -m pip install rasa_core==0.13.2

from

[2019-02-21 10:35] thyravi commented on #1708
Hi, I copied the same code from serdarbozoglan and using it for my chatbot. Difference is my rasa_core is 0.12.1 and epochs is 50. It stucks at " UserWarning: Failed to load synonyms file from './models/nlu/default/chandybot\entity_synonyms.json'
  "".format(entity_synonyms_file))".

![image](https://user-images.githubusercontent.com/37889131/53162552-372edd80-3607-11e9-9e00-6f8187d3267d.png)

I w

[2019-02-21 11:04] akelad commented on #1745
Please post your error trace in this issue

[2019-02-21 11:05] akelad commented on #1744
Thanks for raising this issue, @tmbo  will get back to you about it soon.

[2019-02-21 12:03] Arghya999 opened #1747 "pymongo.errors.OperationFailure: Authentication failed when trying to run rasa_core.run"
**Rasa Core version**:  0.12.3

**Python version**: Python 3.6.8

**Operating system** (windows, osx, ...): Ubuntu 16.04

**Issue**:I am getting “pymongo.errors.OperationFailure: Authentication failed.” when trying to run rasa_core.run

a)Command used :- python -m rasa_core.run -d models/dialogue -u m odels/nlu/default/current --endpoints endpoints.yml --debug --enable_api

b)configuration in bot

[2019-02-21 12:40] erohmensing commented on #1708
Hey @thyravi , failing to load the synonyms file is an NLU error. Serdar's `train_online.py` (did you copy from the screenshot or from actual code?) uses an already trained NLU interpreter to train and run a Core agent in interactive mode. Did you train an NLU model before running this code? If not, no model will be saved to your `'./models/nlu/default/chandybot\'` directory, so `'entity_synonyms.

[2019-02-21 13:08] erohmensing commented on #1708
@serdarbozoglan my bad -- i realized I was looking at the screenshot (of `train_online.py`) instead of the code you were having trouble running, so that makes sense why KerasPolicy is 50 epochs, not 20.

Do look through your console output from before the epoch training -- there might be useful information there, I think some of your arguments might be being ignored by the model.

[2019-02-21 13:28] JanThiel opened #1748 "Exception in Fallback Policy if intent is None"
**Rasa Core version**:
0.13.20

**Python version**:
Python 3.6.8

**Operating system** (windows, osx, ...):
Win 10

**Issue**:
https://github.com/RasaHQ/rasa_core/blob/master/rasa_core/policies/fallback.py#L97
[code]

if ```nlu_data["intent"]``` is None, an exception will be thrown. As this is a default policy, it should be robust enough to fail gracely or do something proper instead of failing at

[2019-02-21 13:44] paulaWesselmann opened #1749 "Entity prompt doesn't appear in interactive training when there are no entities recognised"
in interactive learning sometimes an intent is correctly identified, but includes an entity that is not annotated, only when the intent is marked as wrong, but then again is chosen as correct intent the user is asked to annotate the entity

[2019-02-21 14:16] tpanthera opened #1751 "facebook messenger does not give response in rasa core bot"
**Rasa Core version**: rasa_core 0.10.4

**Python version**:  Python 3.5.2

**Operating system** (windows, osx, ...): Ubuntu

**Issue**: facebook messenger does not give response , while logs displaying no errors.

**Content of domain file** (if used & relevant):
[code]
For reference -
https://stackoverflow.com/questions/54801704/facebook-messenger-does-not-give-response-in-rasa-core-bot

Steps fo

[2019-02-21 15:38] erohmensing commented on #1678
Things to consider:
- #1735
- #1635
- Run training from the command line using `python -m rasa_core.train -d domain.yml -s data/stories.md -o models/current/dialogue -c config.yml`
- There is currently no explanation of Form, Fallback, or Sklearn policies on this page

[2019-02-22 03:44] lansedebing opened #1753 "can not enter docker container"
[root@localhost multiplition]# docker ps -a
CONTAINER ID        IMAGE                        COMMAND                  CREATED             STATUS                         PORTS               NAMES
9fbb8cc4e76b        rasa/rasa_nlu:latest-spacy   "./entrypoint.sh run…"   32 minutes ago      Exited (1) 9 minutes ago                           competent_darwin
f33e6404049d        rasa/rasa_core:latest

[2019-02-22 05:53] kumarkrish85 opened #1754 "rasa core train command"
**Rasa Core version**:
0.13.2

**Python version**:
3.6.5

**Operating system** (windows, osx, ...):
windows

**Issue**:
I was using this command to train

**python -m rasa_core.train -s stories.md -d domain.yml -o models/dialogue --history 1 --nlu_threshold 0.1 --core_threshold 0.1 --fallback_action action_default_fallback  --epochs 300**

but with the current version i am getting an error, Please

[2019-02-22 07:13] kumarkrish85 commented on #1754
Referred in Rasa core migration guide. Never mind

[2019-02-22 07:13] #1754 closed

[2019-02-22 07:18] #1753 closed

[2019-02-22 07:18] lansedebing commented on #1753
nothing to do

[2019-02-22 08:28] erohmensing commented on #1647
Implemented in #1735

[2019-02-22 08:28] #1647 closed

[2019-02-22 08:28] bodhwani commented on #533
Hey, @amn41  Is the issue solved in the new version?

[2019-02-22 08:33] amn41 commented on #533
yep! check out this post https://blog.rasa.com/building-contextual-assistants-with-rasa-formaction/

[2019-02-22 12:54] #1550 closed

[2019-02-23 04:07] lansedebing opened #1755 "docker can not work correctly"
[root@localhost multiplition]# docker run -it -v $(pwd):/app/multiplition -v $(pwd)/models/dialogue:/app/multiplition/models/dialogue rasa/rasa_core:latest run python -m rasa_core_sdk.endpoint --actions actions & python -m rasa_core.run -d models/dialogue --debug --endpoints endpoints.yml
[15] 33724
2019-02-23 12:04:13 INFO     root  - Rasa process starting
2019-02-23 12:04:18.672489: I tensorflow

[2019-02-23 05:55] AnandDev8 opened #1756 "How to add a form to get multiple information from user instead of slot filling"
**Rasa Core version**:
rasa-core==0.13.1
rasa-core-sdk==0.12.1
rasa-nlu==0.14.3
**Python version**:
python 3.6
**Operating system** (windows, osx, ...):
Ubuntu 16.4
**Issue**:
I am actually trying to add a form to get multiple information from user to perform certain actions
Example
Bot-Hi welcome to ABC Bank how may i help you
User:Hi.I would like to transfer money
Bot-Sounds great please fill th

[2019-02-23 10:42] lansedebing commented on #1755
rasa_core_sdk is another docker image

[2019-02-23 10:42] #1755 closed

[2019-02-24 13:00] #1350 closed

[2019-02-25 08:45] wochinge commented on #1698
@krishna-kimo Thanks for the suggestion! There is already a PR for that 🚀 : https://github.com/RasaHQ/rasa_core/pull/1746

[2019-02-25 08:55] wochinge opened #1757 "Profile imports"
Python 3.7 adds the option to [profile the import statements.](https://docs.python.org/3/using/cmdline.html#envvar-PYTHONPROFILEIMPORTTIME)
When Rasa Core is compatible with Python 3.7 this should be used to scope the imports and so improve the performance.

[2019-02-25 09:35] wochinge opened #1758 "Tracker gets very big for long conversations"
When a user conversation gets very long, the tracker will get huge and might slow down everything.
Possible solutions:
* implement some sort of session concept for the tracker
* only return the last `x` events

[2019-02-25 11:04] azizullah2017 opened #1759 "Circuit breaker tripped. Stopped predicting more actions for sender 'Visitor-40'"
**Rasa Core version**:

**Python version**:

**Operating system** (windows, osx, ...):

**Issue**: I cannot jump over the forms. I CAN only run one form.

example:
User :I want to buy a ticket
Bot: May I know the data ?
User: I have changed my mind. I want to order a pizza.
Bot: My I know the address.

I cannot do this. I facing these error.
[code]
My story:
[code]

[2019-02-25 11:17] theakshaygupta opened #1760 "Rasa Core always going to fallback action after a few stories"
**Rasa Core version**: 0.12.0

**Python version**: 2.7.12

**Operating system** (windows, osx, ...): Ubuntu 16

**Issue**:
I am trying to make a production ready general purpose financial chatbot but I think using checkpoints is causing performance issues and as soon as I get a message it displays me with fallback message. Important thing to note is that the *intents* are being identified perfectl

[2019-02-25 11:35] theakshaygupta commented on #1760
I am sorry I closed the issue by mistake.

[2019-02-25 12:32] EPedrotti commented on #1671
There is a PR from one of the users, waiting for him to clean up the code

[2019-02-25 12:52] vigneshp826 commented on #1464
@rameshjesswani can you let me know where you created policy.yml? And did you called specifically anywhere? am also following formbot example

[2019-02-25 15:21] tmbo commented on #1749
Let's change the copy there to specifically also ask for entities

[2019-02-25 16:18] loftyet commented on #119
@PrasannaGaneshu  , try the `Body` with  `query` property,
[code]

[2019-02-25 16:49] wochinge commented on #1728
@mauricedoepke Labeled it is a bug and we will fix it as soon as possible. Of course, you are also very welcome to tackle the issue yourself 🤖

[2019-02-25 16:51] wochinge commented on #1734
@vax521 Please ask usage questions in our forum https://forum.rasa.com.
Please also check whether you actually still need your custom code. Since 0.9 a lot changed in Rasa core, and almost everything is configurable through configuration files (endpoints, channels, policies, ..)

[2019-02-25 16:51] #1734 closed

[2019-02-25 17:05] akelad commented on #1747
Can you please format your file with ```

[2019-02-25 17:07] akelad commented on #1748
Thanks for raising this issue, very good point! Would you be willing to submit a PR for this?

[2019-02-25 17:10] akelad commented on #1751
Have you tried chatting to the bot itself via facebook messenger?

[2019-02-25 17:14] akelad commented on #533
@amn41 can this issue be closed then?

[2019-02-25 17:15] akelad commented on #1756
Hey @AnandDev8, is there any reason you wouldn't want to just ask individual questions one after the other to get those answers?

[2019-02-25 17:15] #1756 closed

[2019-02-25 17:47] amn41 commented on #533
yes

[2019-02-25 17:47] #533 closed

[2019-02-25 17:54] wochinge commented on #1723
@akelad @Ghostvv What do you think?
@mauricedoepke 's approach seems good to me 👍

[2019-02-26 00:44] JanThiel commented on #1748
@akelad
Willingly: Yes
Capable: At the moment: Nope

I haven't had the time to dive deeper into your default policies. This would be the basic requirement to determine what an appropriate action would be in this case. For now I could only provide a try/catch which would be quite ... stupid ... If someone knows your policies better, he or she might be more capable of "fixing" this to deliver a "sma

[2019-02-26 05:10] Arghya999 commented on #1747
Hi @akelad , I have formatted the mongod.conf file with ''' in the root post .Thanks.

[2019-02-26 08:39] #1384 closed

[2019-02-26 12:48] swapbagal1 commented on #1499
Any help will be appreciated ASAP.
@CawaKharkov  My issue is not solved even after changing rasa nlu version and retraining the model.

@akelad @gaurvipul
I am also facing same with rasa_nlu=0.14.1, rasa_nlu=0.13.7, rasa_nlu=0.14.3
(base) C:\Users\swapnali_bagal\Desktop\PROJECT-17-19\Bot1_fullcode>python train_interactive.py
INFO:rasa_nlu.components:Added 'nlp_spacy' to component cache. Key 'nlp_s

[2019-02-26 12:57] swapbagal1 opened #1763 "ERROR:rasa_core.training.interactive:An exception occurred while recording messages. TypeError: 'tuple' object does not support item assignment"
**Rasa Core version**:        0.13.2
rasa-core-sdk        :        0.12.1

**Python version**: 3.6.3

**Operating system** (windows, osx, ...): windows10

**Issue**:

My issue is not solved even after changing rasa nlu version and retraining the model.
I am  facing same with rasa_nlu=0.14.1, rasa_nlu=0.13.7, rasa_nlu=0.14.3

(base) C:\Users\swapnali_bagal\Desktop\PROJECT-17-19\Bot1_fullcode>python

[2019-02-26 14:14] alexissmirnov opened #1764 "Dynamic configuration of NLU endpoint (Tracker Aware Interpreter)"
**Enhancement proposal**:
The interpreter invokes the NLU service to parse each message. The service endpoint URL is configurable via a configuration file and cannot be dynamically changed at runtime. The NLU endpoint receives the text of the message but doesn't receive the representation of the conversation.

The proposal is to allow the support of the following conceptual use cases:
1. *Greeting

[2019-02-26 14:30] #1606 closed

[2019-02-26 17:27] akelad commented on #1748
@JanThiel alright thanks for your input regardless! If you do have some spare time, of course go for it :D Otherwise we/someone else will take care of it

[2019-02-26 17:34] akelad commented on #1760
Please ask these kind of questions in our [forum](https://forum.rasa.com)

[2019-02-26 17:34] #1760 closed

[2019-02-26 17:34] akelad commented on #1759
Please ask these kind of questions in our [forum](https://forum.rasa.com)

[2019-02-26 17:53] akelad commented on #1723
that sounds good, but i think we should make clear that we're talking about entities in the `include`/`exclude` keys

[2019-02-26 17:56] bghanchi commented on #391
when i run
->from rasa_nlu.converters import load_data
->from rasa_nlu.model import Trainer
 they work fine

but when i run -> from rasa_nlu.config import RasaNLUConfig
then i get
cannot import name 'RasaNLUConfig'
why

* Also when i run import rasa_nlu.config then it's work also fine

[2019-02-26 18:08] akelad commented on #1747
Cool, thanks. @MetcalfeTom will get back to you about your issue sson

[2019-02-26 18:14] akelad commented on #1730
have you modified any code in rasa_core? Because this should not be happening

[2019-02-26 21:00] souvikg10 commented on #1758
Just one question, the tracker depends on the max history parameter of the training policies right? maybe it should be possible to do hot/cold switch to reduce the footprint. two KV stores perhaps with the hot store emitting x events which depends on the max history size.

I would hate to lose the conversations in the tracker store if deleted after a user session without proper archiving as such.

[2019-02-26 23:28] ortsaCniveK opened #1765 "Allow for templates to be loaded from a directory"
I'd like to be able to load templates in from a local directory similar to below:

[code]

similar to how we have the capacity to link to an `actions`, `data/stories` or `config` directory when training or running Rasa Core and NLU.  It would help for those looking to categorize the different types of conversations a user might have, with respective templates.  Overall it should improve utterance

[2019-02-27 05:03] Rajskc commented on #1730
I am not really sure, I made few changes but don't remember them specifically. I'll figure it out. Thanks for your reply. We can close this now.

[2019-02-27 08:38] azizullah2017 commented on #1759
I have already that. But I did not any response from anyone.
Rasa form stop when there is two or more then that.
https://forum.rasa.com/t/can-i-jump-between-forms-can-i-used-more-then-one-form/5495

[2019-02-27 09:42] akelad commented on #1759
we'll get back to you on there

[2019-02-27 09:42] #1759 closed

[2019-02-27 09:42] akelad commented on #1730
cool, will close this then

[2019-02-27 09:42] #1730 closed

[2019-02-27 09:45] akelad commented on #1765
@ortsaCniveK you can create an nlg endpoint which does this. I don't think we'll be changing the default behaviour right now

[2019-02-27 09:47] akelad commented on #1764
Thanks a lot for your suggestion @alexissmirnov, what stops you from just using a slot and adding relevant stories to do all this?

[2019-02-27 09:47] #1716 closed

[2019-02-27 09:47] akelad commented on #1763
Thanks for raising this issue, @MetcalfeTom  will get back to you about it soon.

[2019-02-27 09:50] tocosastalo commented on #1765
or maybe you can try something like:
[code]

[2019-02-27 10:58] MetcalfeTom commented on #1737
Ahh OK, it is my understanding that is [a bug with our visualisation script](https://forum.rasa.com/t/error-in-online-training-with-rasa/4327/10) that arises when setting the same slot twice in one turn.  We can work a fix for this, however in the meantime I would recommend trying:

- Running the script with the flag `--skip_visualization`
- Creating a separate action 'reset_slots' which is predic

[2019-02-27 12:03] sahilsoni91 opened #1766 "Multiple user calling same or different custom action not processed simultaneously"
**Rasa Core version**:  0.12.2

**Python version**: 3.6

**Operating system** (windows, osx, ...): Linux

**Issue**: Multiple user calling same or different custom action not processed simultaneously

**Content of domain file** (if used & relevant):
[code]
I am trying to handle many users to get response simultaneously from custom action at a time.
For this i use sleep method inside custom action

[2019-02-27 12:21] rakesh5i opened #1767 "Error rasa_core.training.interactive - An exception occurs"
rasa-nlu=14.3
rasa-core= 13.2

When I try to run the online script it throws following error

Processed Story Blocks: 100%|████████████████████████████████████████████████████████| 3/3 [00:00<00:00, 1194.84it/s, # trackers=1]
ERROR:rasa_core.training.interactive:An exception occurred while recording messages.
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/rasa_co

[2019-02-27 13:53] MetcalfeTom commented on #1747
Hi @Arghya999,

Could you update your `rasa_core` version?  We added a default parameter `auth-source='admin'` to the `MongoTrackerStore` in a later version, trying to run without it is probably the reason this error is being thrown up

[2019-02-27 14:15] tahamr83 commented on #1430
@Ghostvv can you please elaborate on how to do that? I am also having the same problem. I am unable to use e2e for our bot since it almost consists of forms only (with unhappy paths steering back the conversations to reask the form questions).

[2019-02-27 15:04] Ghostvv commented on #391
please try `RasaNLUModelConfig` instead

[2019-02-27 15:09] Ghostvv commented on #1430
wait it should automatically ignore it if your test stories correctly contain `form: ` prefix

[2019-02-27 15:17] Ghostvv commented on #1430
@tahamr83 I just took a look, and there is a bug there

[2019-02-27 15:56] mauricedoepke commented on #1723
So `include_entities`/`exclude_entities` instead?

[2019-02-27 16:28] tmbo commented on #1744
@neslieang I can't really reproduce this and I have no clue where this is error is coming from (as source should be a graph node and not a tuple).

Can you help me out here and add a print line and output what the value of source is?

[2019-02-27 20:24] alexissmirnov commented on #1764
To support multi-language conversation, the key missing part is the ability for the interpreter to call the NLU service based on the value of the slot. To support the co-reference resolution, what's missing is the ability to pass the entire tracker state to NLU service. A related thought is, perhaps NLU service `parse` method should use the same input as HTTP POST of the Action service.

Does that

[2019-02-28 09:10] akelad commented on #1764
But you could load the appropriate NLU model in a custom action based on the slot value -- so those use cases are entirely doable with the current implementation.

As for coreference resolution, I think you could also solve that with a custom action, e.g. if you label "same" as an entity then in the custom action you could check the previous slot value and set the preference to that as well.

Does

[2019-02-28 09:11] akelad commented on #1723
yes

[2019-02-28 09:13] akelad commented on #1767
this is a duplicate of #1744, please take a look there for an answer (still in the process of being figured out what's going wrong here). fyi @tmbo seems like more than one person is getting this error

[2019-02-28 09:14] #1767 closed

[2019-02-28 09:14] akelad commented on #1766
Thanks for raising this issue, @wochinge  will get back to you about it soon.

[2019-02-28 09:15] akelad commented on #1765
@tocosastalo this seems to be related to templates rather than domain files :)

[2019-02-28 11:24] Swarnalathaa commented on #1737
Hi @MetcalfeTom ,
I followed the above suggestion and I am not getting the error. Thanks :)

[2019-02-28 11:32] alexissmirnov commented on #1764
I’m talking about the deployment when the NLU service is running in a different process from the core.

How can the NLU service access the value of the slot? The "parse” HTTP endpoint doesn’t supply the slot values.

[2019-02-28 11:58] MaulishShah commented on #483
i found an error while running the file train_init.py
ModuleNotFoundError: No module named 'rasa_core'

[2019-02-28 12:09] MaulishShah commented on #483
rasa-core : 0.13.2
ubuntu: 18.04
 python version - 3.6.5

i found an error while running the file train_init.py ModuleNotFoundError: No module named ### 'rasa_core'
--

[2019-02-28 12:43] MaulishShah opened #1770 "ModuleNotFound : rasa-core"
**Rasa Core version**: 0.13.2

**Python version**:  3.6.5

**Operating system** (windows, osx, ...): ubuntu

**Issue**:ModuleNotFound : rasa-core. I already installed the rasa-core but it not show while importing it.

[2019-02-28 13:17] MetcalfeTom opened #1771 "Allow users to select buttons when running from cmdline"
When an utterance has buttons, we list them like:
[code]
Would be nice to allow users to select these by, for instance, typing "1" or "2"

[2019-02-28 16:12] wochinge commented on #1758
@souvikg10 Thanks for your input! We have not decided yet how to tackle this one, but we will definitely discuss your approach!

[2019-02-28 19:14] netcarver commented on #1758
I'm pretty new to Rasa, but there seem to be a number of areas that stand out for a possible reduction in the size of the tracker, although I appreciate that for established code some of these ideas may introduce breaking changes...

1. Limit the number of decimal places recorded for confidence scores.
Currently I'm seeing scores recorded with confidences like ```0.8011654335672462```, but see lit

[2019-02-28 19:35] imtechgeek commented on #1763
I'm having the same issue

[2019-02-28 19:59] alexissmirnov commented on #1764
When you say "load the appropriate NLU model in a custom action based on the slot value" - this is right, in so far that action can invoke anything at all, including the NLU service.

But this architecture would effectively remove the need for an interpreter, and would require the policy to predict the next action to be that custom action for *every* user message (so that the user's message is pro

[2019-03-01 02:39] vax521 commented on #1734
ok,thanks.

[2019-03-01 06:09] Arghya999 commented on #1747
Hi @MetcalfeTom, I have updated rasa_core version to 0.13.0 and is working around to configure a training file for the bot by implementing the train.py script at rasa_core/master.Will update once after I get it running.
Thanks.

[2019-03-01 09:23] akelad commented on #1764
NLU isn't supposed to access the value of the slot, they're completely separate. You can however load a different NLU model in Core, or point it to a different endpoint.

But this architecture would effectively remove the need for an interpreter, and would require the policy to predict the next action to be that custom action for _every_ user message (so that the user's message is processed by the

[2019-03-01 09:31] akelad commented on #1770
Thanks for raising this issue, @wochinge  will get back to you about it soon.

[2019-03-01 11:07] hemsush commented on #1744
I am also getting this error. Which version of python is compatible

[2019-03-01 12:14] Arghya999 opened #1772 "rasa_core.policies.ensemble.InvalidPolicyConfig: You didn't define any policies. Please define them under 'policies:' in your policy configuration file."
**Rasa Core version**:0.13.0

**Python version**:  Python 3.6.8
**Operating system** (windows, osx, ...): Ubuntu 16.04 LTS

**Issue**: rasa_nlu and rasa_core  training error :-
INFO:rasa_nlu.training_data.loading:Training data format of nlu.md is md
INFO:rasa_nlu.training_data.training_data:Training data stats:
        - intent examples: 188 (15 distinct intents)
        - Found intents: 'about_OP

[2019-03-01 16:08] amn41 commented on #1764
If I've understood correctly, @alexissmirnov - the problem is that in processor.py only the message text is passed to the interpreter class, correct? because otherwise you could create an interpreter subclass which does all of this custom logic (e.g. language detection, looking at a slot, using different NLU models per language, etc)

https://github.com/RasaHQ/rasa_core/blob/978c76a253e5d5a8e8dc61

[2019-03-01 17:40] alexissmirnov commented on #1764
Exactly, @amn41

If the tracker is passed into the interpreter, it would open all this logic/flexibility

[2019-03-01 19:11] elier commented on #1641
Same issue here.

[2019-03-01 21:49] kirtisynap19 opened #1773 "Action in Reminder runs but message is not displayed on command line"
Hi
I am facing an issue where the scheduler (reminder scheduled) job starts and action runs, but the message is only visible in logs and not on command line.

I have upgraded to latest version of Rasa Core:
rasa_core==0.13.2
rasa_core_sdk==0.12.2
rasa_nlu==0.14.4
Python==3.6.5
OS: Mac OSX

Here is the screen shot of logs for your reference:
<img width="752" alt="screen shot 2019-03-01 at 4 34 56 p

[2019-03-02 02:56] tpanthera commented on #1751
My apologies , it seems issue with our model . That i verified by logs of ngrok and rasa .In logs I can only see success response for request that i am getting from bot , but no response message  from our model for the received request.

[2019-03-02 02:56] #1751 closed

[2019-03-02 18:53] parth2411 commented on #1499
similar crash is occuring to me
log: https://pastebin.com/rxJNByuk
Rasa NLU Version : 0.14.4
Rasa Core Version : 0.13.2

[2019-03-02 19:01] parth2411 commented on #1744
i am also facing similar issue
log: https://pastebin.com/rxJNByuk
Rasa NLU Version : 0.14.4
Rasa Core Version : 0.13.2

[2019-03-02 21:36] george-ai opened #1774 "Python-Socket-IO and session_request"
**Rasa Core version**:  0.13.2

**Python version**: 3.6.3

**Operating system** (windows, osx, ...): Mac (Virtual Env.)

**Issue**: I am looking to emit session_request in order to track my user session, however I am definitely not succeeding. I have included the below. Not sure is I am using the session_request with emit correctly? Should this be used in a different way? Any help will be greatly

[2019-03-03 05:34] george-ai commented on #1774
The following is working now:

[code]

[2019-03-03 11:57] Maverick23 opened #1775 "Bot replying via DM instead of the channel Slack Integration"
**Rasa Core version**: 0.13.1

**Python version**:  3.6.7

**Operating system** (windows, osx, ...): Windows 10 Home

**Issue**: Integrated the bot with Slack. The bot responds as expected but always replied directly(DM) to the user even if the message was sent to a channel.

**Content of domain file** (if used & relevant): Dont think this is relevant as the behaviour of bot is fine.
[code]
![even

[2019-03-03 12:01] Maverick23 commented on #1775
Hi, did some digging around :
a) dumped the variable slack_channel in slack.py , during the creation of the SlackBot object seems its empty
b) also recipient = self.slack_channel or recipient_id seems to be giving same id , irrespective of whether the message was posted to a channel(the bot is a member of) or directly to the bot.

[2019-03-03 12:05] Maverick23 commented on #1775
Running the run_app.py contents, pasted below for reference:

from rasa_core.channels.slack import SlackInput
from rasa_core.agent import Agent
from rasa_core.interpreter import RasaNLUInterpreter
import yaml
from rasa_core.utils import EndpointConfig

nlu_interpreter = RasaNLUInterpreter('./models/nlu/default/generalnlu')
action_endpoint = EndpointConfig(url="http://localhost:5055/webhook")
agent

[2019-03-03 17:38] khilnani commented on #1775
Looking at https://github.com/RasaHQ/rasa_core/blob/master/rasa_core/channels/slack.py#L30
[code]
Seems to imply that if a single channel is not configured in credentials.yml, the response will go to the user as a DM, but not in the channel the bot was sent the message.

Does the impl support a bot being invited to multiple Slack channels? Can this be supported since its uite a common use case in

[2019-03-04 02:59] HatuneMiku opened #1776 "Default logging file encoding config set"
**Rasa Core version**:
rasa-core                 0.13.2                   pypi_0    pypi
**Python version**:
python                    3.6.7                h9f7ef89_2    defaults
**Operating system** (windows, osx, ...):
Windows 10 Pro 1809
**Issue**:
Default logging file encoding config not set enconding to utf8, and when  I build a chinese bot and set --debug mode in :
`python -m rasa_core.run -

[2019-03-04 04:11] lgrinberg commented on #1764
Having the tracker passed to the interpreter would also be useful for another use case that we are struggling with:  identifying the statements coming from different users as different intents so that the bot could take a different action based on them.   We are using Rasa for the dialogue AI for our voicebot, and we can have multiple voice users talking to our bot and we need to be able to proces

[2019-03-04 04:25] suryatejabandlamudi opened #1777 "i have a similar requirement we are using our custom UI which interacts with the flask api .Flask uses the rasa core agent to get an answer back . We would like to pass the logged in customer id to the custom action so the utter_message is dynamic from the custom action ."
@chuttipayan, I am also trying to do the same. Did you find a solution to pass the customer ID to rasa core ?
Thank you

[2019-03-04 04:25] #1777 closed

[2019-03-04 05:43] MaulishShah opened #1778 "NameError: Cannot access action '', as that name is not a registered action for this domain. Available actions ar"
**Rasa Core version**: 13.3

**Python version**: 3.6.5

**Operating system** (windows, osx, ...): ubuntu

**Issue**:
NameError: Cannot access action '', as that name is not a registered action for this domain. Available actions are:
I'm added all the actions in the yml file but all time it gives me above type of error

**Content of domain file** (if used & relevant):
[code]

[2019-03-04 08:12] wochinge commented on #1770
@MaulishShah Can you try to do:
[code]

Did this help?

[2019-03-04 08:42] gxtrobot opened #1779 "how to run rasa core server behind flask server"
now I am thinking about deployment

what I am thinking is put rasa-core, rasa-nlu, rasa-action as stand-alone service

in the front , it's flask with jwt authentication

like this
@app.route('/chat')
@jwt_required
def chat():
   #handle post request ,
   #get user_id
   #get message
   #call rasa-core service

one option is use requests to post to rasa-core rest api, but that is not elegant

I see

[2019-03-04 09:29] akelad commented on #1779
Please ask these kind of questions in our [forum](https://forum.rasa.com)

[2019-03-04 09:29] #1779 closed

[2019-03-04 10:00] akelad commented on #1776
@HatuneMiku would you be able to submit a PR for this?

[2019-03-04 10:02] akelad commented on #1775
Thanks for raising this issue, @ricwo  will get back to you about it soon.

[2019-03-04 10:02] akelad commented on #1774
@george-ai can we close this issue then?

[2019-03-04 10:04] akelad commented on #1773
Thanks for raising this issue, @Ghostvv  will get back to you about it soon.

[2019-03-04 10:04] akelad commented on #1641
have you tried installing the latest version of rasa nlu?

[2019-03-04 10:06] akelad commented on #1772
Thanks for raising this issue, @erohmensing  will get back to you about it soon.

[2019-03-04 10:06] akelad commented on #483
Please create a new issue

[2019-03-04 10:09] tmbo commented on #1744
@hemsush 3.5 & 3.6

@parth2411 your issue is https://github.com/RasaHQ/rasa_core/issues/1737 not this one.

[2019-03-04 10:20] wochinge commented on #1766
The action sdk is currently still based on Flask, which processes requests synchronously. We are currently working to move Rasa Core to an async server, and the same will be done for core sdk later.

[2019-03-04 10:20] #1766 closed

[2019-03-04 11:01] rakesh5i commented on #1744
i'am also getting the same error.what is the solution for this?

[2019-03-04 12:46] paulaWesselmann commented on #1737
I was getting this same error. Before I could look into it it disappeared again and I can't seem to reproduce it, having not changed the code or any settings.

[2019-03-04 15:50] Spenhouet commented on #1340
Yes, I was just about to write an issue for this.

I have a custom directory and file naming and on saving after the interactive training I have to manually change all three paths.

[code]

I would be really cool if we could define all three paths + file names via command line arguments.

[2019-03-04 16:32] Spenhouet opened #1781 "Interactive learning navigation documentation"
The current interactive learning navigation consists of the following options:

[code]

I couldn't find any documentation on any of these navigation options.
Some of these are intuitive (continue, undo last, export & quit).
But for others it is just not clear what choosing these options entails (Fork, Start Fresh).
From other issues here on GitHub I could gather what these options are supposed to

[2019-03-04 16:56] Ghostvv commented on #1773
It is duplicate issue, please see: https://github.com/RasaHQ/rasa_core/issues/886

[2019-03-04 16:56] #1773 closed

[2019-03-04 18:54] kirtisynap19 commented on #1773
Hi @Ghostvv, I want to reopen the issue because of the following problem.
I tried to do put the print statements as suggested in #886, but the problem is that it prints on the command line and goes to 'action_listen'. However, as part of my story, I expect to trigger another action after this action is complete, but that never happens. I am attaching the screenshot of my logs:
![image](https://use

[2019-03-05 05:41] Maverick23 commented on #1775
Thanks for looking into this, while this is being worked upon, as an interim solution, how can one set up the single channel using credentials.yml ? any documentation that you can point me to ?

[2019-03-05 06:58] abhishakvarshney opened #1783 "Limited usage of stories.md file"
**Rasa Core version**:

**Python version**:

**Operating system** (windows, osx, ...):

**Issue**: I am thinking about changing the pattern of rasa. My suggestion is why we have to define all story in stories.md. I mention every action in domain file and based on intent if action is related to template it fill execute utter_intent if action for that intent is customized action it will execute acti

[2019-03-05 08:31] ricwo commented on #1775
Hi @Maverick23, you'll need to define the channel in your `credentials.yml`. Please have a look at the Slack connector documentation [here](https://rasa.com/docs/core/connectors/#slack-setup)

[2019-03-05 08:41] akelad commented on #1783
i'm slightly confused by your suggestion, do you mean that you should be able to assign an intent to a specific action without having to write a story? If this is what you mean, then we actually have a PR open for this: https://github.com/RasaHQ/rasa_core/pull/1701

[2019-03-05 08:42] Maverick23 commented on #1775
thanks @ricwo .
looking at the documentation, if i dont want to use the credentials.yml , i can actually give the slack channel during the instantiation of input channel itself  as below :

input_channel = SlackInput(
        slack_token="YOUR_SLACK_TOKEN",
        # this is the `bot_user_o_auth_access_token`
        slack_channel="YOUR_SLACK_CHANNEL"
        # the name of your channel to which th

[2019-03-05 08:44] akelad commented on #1781
@Spenhouet thanks for the suggestion, would you be willing to submit a PR for this?

[2019-03-05 08:44] akelad commented on #1340
if you're up for it, we'd happily accept a PR for this :)

[2019-03-05 08:57] erohmensing commented on #1772
Hi! What seems to be happening here is that when you call
[code]
it's pulling `config.load()` from core, not nlu. This is because you have `from rasa_nlu import config` but this is overwritten by `from rasa_core import config, cli`. I think the easiest fix here would be to rename one of them, for example `from rasa_nlu import config as nlu_config` (and then use this name when you call the load fun

[2019-03-05 08:58] shanushawan commented on #1737
hi @MetcalfeTom,
can you please explain the steps

Ahh OK, it is my understanding that is a bug with our visualisation script that arises when setting the same slot twice in one turn. We can work a fix for this, however in the meantime I would recommend trying:

Running the script with the flag --skip_visualization
Creating a separate action 'reset_slots' which is predicted in your story data afte

[2019-03-05 08:58] HatuneMiku commented on #1776
OK, I just submit #1784. this can be fix.

[2019-03-05 09:13] abhishakvarshney commented on #1783
Yeah, I mean something like this. Didn't see that coming. 😂

[2019-03-05 09:13] #1783 closed

[2019-03-05 09:16] Ghostvv commented on #1773
this is another issue, regarding policy prediction.
In your case `story02` doesn't correspond to the tracker state as can be seen from the logs up there. I recommend using augmented memoization policy

[2019-03-05 10:06] erohmensing commented on #1678
**0.13.x**:
_Training and Policies_
[code]
 - change `models/current/dialogue` to `models/dialogue`
 - `Configuration parameters can be passed to agent.train(...) method.`
 - Pass an appropriate epochs number to agent.train(...)`
 - `These parameters can be passed to Agent.train(...) method`
- copy new keras train method

_Fallback Actions_:
 - Delete this and following chart: `The rasa_core.train

[2019-03-05 10:22] Arghya999 commented on #1772
Hi @erohmensing , corrected the logical flaw.Thanks for the help.

[2019-03-05 10:22] #1772 closed

[2019-03-05 10:34] Akshay2350 opened #1785 "utter_greet error while training rasa core"

[2019-03-05 11:14] #1785 closed

[2019-03-05 11:40] Arghya999 commented on #1747
Hi @MetcalfeTom, connection issue got resolved after updating to rasa_core==0.13.0.
Thanks.

[2019-03-05 11:40] #1747 closed

[2019-03-05 14:11] Swarnalathaa commented on #1737
Hi @shanushawan ,
1) If you are getting error something like the one mentioned above during interactive training then try to run your interactive training by disabling visualization. check this link https://rasa.com/docs/core/interactive_learning/

2) Since I wanted to reset all slots after the action_news has been performed, I made a separate action in actions.py which will reset all the slots.